In [1]:
# pip install cx_Oracle
# pip install jupyter ipykernel
# pip install pandas

import cx_Oracle
import pandas as pd

conn = cx_Oracle.connect("scott",
                        "tiger",
                        "localhost:1521/xe")

In [4]:
# SQL전송 -> 전송결과 받아 출력
cursor = conn.cursor() # SQL 전송 & 결과 받아주는 객체
sql = "SELECT * FROM EMP ORDER BY EMPNO"
cursor.execute(sql) # SQL 전송 + 전송결과 받기
emps = cursor.fetchall() # 전송결과 list 모두 받기(튜플 list)
keys = [desc[0] for desc in cursor.description] # 전송결과 컬럼 모두 받기
# 
emp_list = [dict(zip(keys, emp)) for emp in emps] # 전송결과 컬럼 모두 받기
print(emp_list)
cursor.close() # 전송결과 받아오는 객체 닫기

[{'EMPNO': 7369, 'ENAME': 'SMITH', 'JOB': 'CLERK', 'MGR': 7902, 'HIREDATE': datetime.datetime(1980, 12, 17, 0, 0), 'SAL': 800.0, 'COMM': None, 'DEPTNO': 20}, {'EMPNO': 7499, 'ENAME': 'ALLEN', 'JOB': 'SALESMAN', 'MGR': 7698, 'HIREDATE': datetime.datetime(1981, 2, 20, 0, 0), 'SAL': 1600.0, 'COMM': 300.0, 'DEPTNO': 30}, {'EMPNO': 7521, 'ENAME': 'WARD', 'JOB': 'SALESMAN', 'MGR': 7698, 'HIREDATE': datetime.datetime(1981, 2, 22, 0, 0), 'SAL': 1250.0, 'COMM': 500.0, 'DEPTNO': 30}, {'EMPNO': 7566, 'ENAME': 'JONES', 'JOB': 'MANAGER', 'MGR': 7839, 'HIREDATE': datetime.datetime(1981, 4, 2, 0, 0), 'SAL': 2975.0, 'COMM': None, 'DEPTNO': 20}, {'EMPNO': 7654, 'ENAME': 'MARTIN', 'JOB': 'SALESMAN', 'MGR': 7698, 'HIREDATE': datetime.datetime(1981, 9, 28, 0, 0), 'SAL': 1250.0, 'COMM': 1400.0, 'DEPTNO': 30}, {'EMPNO': 7698, 'ENAME': 'BLAKE', 'JOB': 'MANAGER', 'MGR': 7839, 'HIREDATE': datetime.datetime(1981, 5, 1, 0, 0), 'SAL': 2850.0, 'COMM': None, 'DEPTNO': 30}, {'EMPNO': 7782, 'ENAME': 'CLARK', 'JOB': 'MANAGER', 'MGR': 7839, 'HIREDATE': datetime.datetime(1981, 6, 9, 0, 0), 'SAL': 2450.0, 'COMM': None, 'DEPTNO': 10}, {'EMPNO': 7788, 'ENAME': 'SCOTT', 'JOB': 'ANALYST', 'MGR': 7566, 'HIREDATE': datetime.datetime(1982, 12, 9, 0, 0), 'SAL': 3000.0, 'COMM': None, 'DEPTNO': 20}, {'EMPNO': 7839, 'ENAME': 'KING', 'JOB': 'PRESIDENT', 'MGR': None, 'HIREDATE': datetime.datetime(1981, 11, 17, 0, 0), 'SAL': 5000.0, 'COMM': None, 'DEPTNO': 10}, {'EMPNO': 7844, 'ENAME': 'TURNER', 'JOB': 'SALESMAN', 'MGR': 7698, 'HIREDATE': datetime.datetime(1981, 9, 8, 0, 0), 'SAL': 1500.0, 'COMM': 0.0, 'DEPTNO': 30}, {'EMPNO': 7876, 'ENAME': 'ADAMS', 'JOB': 'CLERK', 'MGR': 7788, 'HIREDATE': datetime.datetime(1983, 1, 12, 0, 0), 'SAL': 1100.0, 'COMM': None, 'DEPTNO': 20}, {'EMPNO': 7900, 'ENAME': 'JAMES', 'JOB': 'CLERK', 'MGR': 7698, 'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0), 'SAL': 950.0, 'COMM': None, 'DEPTNO': 30}, {'EMPNO': 7902, 'ENAME': 'FORD', 'JOB': 'ANALYST', 'MGR': 7566, 'HIREDATE': datetime.datetime(1981, 12, 3, 0, 0), 'SAL': 3000.0, 'COMM': None, 'DEPTNO': 20}, {'EMPNO': 7934, 'ENAME': 'MILLER', 'JOB': 'CLERK', 'MGR': 7782, 'HIREDATE': datetime.datetime(1982, 1, 23, 0, 0), 'SAL': 1300.0, 'COMM': None, 'DEPTNO': 10}]

In [ ]:
pd.DataFrame(data=data, columns=columns)

In [ ]:
cursor = conn.cursor()
sql = "INSERT INTO EMP VALUES (:empno, :ename, 'manager', null, sysdate, 9000, 10, 40)"
empno = input("Enter the employee number: ")
ename = input("Enter the name of the employee: ")
cursor.execute(sql, {'empno' : empno, 'ename' : ename})
# conn.commit()
print("수행 결과 : ", cursor.rowcount) # 1 :  insert 성공, 0 : 실패
cursor.close()

수행 결과 :  1

In [7]:
conn.close()