In [2]:
# pip install pymysql
import pymysql

conn = pymysql.connect(host='127.0.0.1',
                        user='root',
                        password='mysql',
                        database='devdb',
                        charset="utf8")

In [4]:
cursor = conn.cursor()
sql = "INSERT INTO PERSONAL VALUES (%s, %s, 'ceo', null, curdate(), 9000, 10, 40)"
pno = input("Enter Personal No: ")
pname = input("Enter Personal Name: ")
cursor.execute(sql, (pno, pname))
print("수행 결과 : ", cursor.rowcount) # 1 :  insert 성공, 0 : 실패
# conn.commit()
cursor.close()

수행 결과 :  1