In [117]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수 선언 과정 필요 없음. 할당과 동시에 타입 지정 및 값 할당

## 1.1 변수 할당
- 할당연산자(=)를 이용해 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장(값 + @(함수 등)을 특정 메모리에 저장, 변수에는 그 메모리의 주소 저장 -> 값 저장된 메모리 주소 참조)

In [7]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는", area)

계산된 넓이는 78.5

In [9]:
import numpy as np
area = np.pi * r * r
print("area = ", area)

area =  78.53981633974483

In [11]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [12]:
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524517523056
area의 타입: <class 'float'>

In [13]:
area = 5.5
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524559005232
area의 타입: <class 'float'>

In [14]:
area = 10
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524431319568
area의 타입: <class 'int'>

In [15]:
area.is_integer()

AttributeError: 'int' object has no attribute 'is_integer'

In [17]:
area = "파이썬"
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524558047536
area의 타입: <class 'str'>

## 1.2 변수 이름 규칙
- 문자로 시작(숫자 시작 불가)
- 문자, 숫자, _로만 변수명 작성 가능(특수문자 불가)
- 함수명은 변수 이름으로 가능은 하나 지양해야 함. 써야 한다면 '함수명_' 식으로 _ 이용
- 파이썬 예약어(for 등)은 변수명 사용 불가
- 한글 변수는 꼭 필요시에만 사용

In [21]:
이름 = "홍길동"
print(이름)

홍길동

In [22]:
이름

'홍길동'

In [23]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [24]:
member.name = "홍길동"

NameError: name 'member' is not defined

In [25]:
member_name = "홍길동" # python에서 주로 이용
memberName = "홍길동" # Java, C++에서 주로 이용

In [26]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 가능은 하나 절대 금할 것
print(Print)

10

In [27]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수(complex)
i = 3 + 3j # j : 파이썬에서 복소수 표현
type(i)

complex

In [28]:
isinstance(i, complex) # 변수(객체)가 complex인지 여부 반환

True

## 1.3 도움말

In [29]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [31]:
help() #help를 빠져 나오려면 q 입력 / Esc + o : 결과 접기/펴기(토글)

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> ㅂ
No Python documentation found for 'ㅂ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [32]:
# 도움말 기능 : Shift + Tab 키 두번 (tab tab) - 주로 이용
print()

In [40]:
def add(x, y=0) : 
    '''
    매개변수 2개를 받아 두 자리 숫자로 만드는 함수
    x는 10의 자리수가 됨
    y는 1의 자리수가 됨
    사용법 : add(2,3) => 23
    '''
    return x*10 + y
# ''''''(홑,쌍 상관없이 따옴표 3개 입력 후 그 안에 설명 작성 시 도움말 작성됨)
# 위처럼 함수 선언 시 매개변수에 기본값을 입력할 경우 매개변수가 없으면 기본값, 매개변수가 있으면 입력된 매개변수값을 이용해 처리

In [39]:
add(2, 2)

22

In [41]:
a = add
a(2,3)

23

## 1.4 다중 변수 할당

In [42]:
a = 10
b = 20

In [44]:
a, b = 10, 20
print(a, b)

10 20

In [45]:
# 다중 변수 선언의 경우 순차적으로 들어가지 않고 동시에 진행
# 가독성이 좋지 않아 자주 쓰이진 않음
a, b = b, a+b 
print(a, b)

20 30

# 2절. 화면 입출력(I/O)

In [53]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 반드시 문자열로 입력받음(3 -> "3")
first = input("첫 번째 숫자는?")
first

첫 번째 숫자는?8

'8'

In [54]:
second = input('두 번째 숫자는?')

두 번째 숫자는?2

In [55]:
sum = int(first) + int(second)
print('합:', sum)

합: 10

In [57]:
first = int(input('첫 번째 수는?'))
second = int(input('두 번째 수는?'))
sum = first + second
print('합', sum)

첫 번째 수는?10
두 번째 수는?20
합 30

In [64]:
print('합', sum, sep = '=', end=' / ')
print('합', sum, sep = ' ~ ', end=' / ')
print('합', sum, sep = '은 ')

합=30 / 합 ~ 30 / 합은 30

In [65]:
import sys
print('hello', 'world', sep=', ', file=sys.stdout) # stdout : standard out의 약자, 모니터로 출력

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장 방식이 달라짐
    - 숫자 : int, float(실수), complex(복소수)
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [68]:
import sys
sys.maxsize # 정수의 최대값 2**63 -1(2의 63승 -1)

9223372036854775807

In [71]:
i = sys.maxsize + 100000000000000000
print(i)
print(type(i))

9323372036854775807
<class 'int'>

In [74]:
f = 4/2 # 정수/정수는 무조건 실수
f

2.0

In [76]:
# Java처럼 정수/정수의 결과를 정수로 나오게 하려면
f = 4//2 # // : 몫연산자 (결과의 몫만 가져옴)
print(f)
f = int(4/2)
print(f)

2
2

In [77]:
c = 1j # 수학에서의 0 + 1i
print(c**2) # ** 승연산자(제곱)

(-1+0j)

In [81]:
f = 1.12e12 # 1.12의 10의 12승 1120000000000
print('지수형 표현할당시 실수형으로 저장 : ', f)
f = 1.12e-12 # 1.12의 10의 -12승 0.000000000000112
print('지수형 표현할당시 실수형으로 저장 : ', f) # 너무 크거나 작은 수는 e 이용 / 강제적으로 실수형으로 나오게 할 수 있음(4장)

지수형 표현할당시 실수형으로 저장 :  1120000000000.0
지수형 표현할당시 실수형으로 저장 :  1.12e-12

## 3.2 문자형
- 쌍따옴표(" ")나 홑따옴표(' ')이용 - 문자열/문자 구분 없음, 일부는 str로 표현

In [85]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동\'' # 서울시 관악구 '신길동'
address = "서울시 관악구 '신림동'"
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [88]:
# 문자형 변수에 여러줄의 문자열
text = '''여러 줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많다.'''
print(text)

여러 줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많다.

### ※ 문자열 연산

In [89]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
    등 주석을 여러 줄로 달고 싶을 경우 이용
'''
name1 = "홍길동"
name2 = "동에 번쩍 서에 번쩍"
print(name1 + name2)

홍길동동에 번쩍 서에 번쩍

In [90]:
print(name1 * 3) # 문자열 * 정수 : 문자열을 정수 번 만큼 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용(특수한 패턴의 데이터 - 전화번호, 이메일 등), 디렉토리 경로 표현 시 이용

In [94]:
print('Hello\nWorld')
print(r'Hello\nWorld') # r : raw data 그대로 인지
print('Hello\\nWorld') # \\ : 문자 \

Hello
World
Hello\nWorld
Hello\nWorld

정규 표현식
```(마크업 셀에서 백틱(1옆의 특수문자)은 블록을 만들때 사용)
1. 참조 : 위키백과
2. 간략한 문법
    \d : 숫자와 매치, [0-9]와 동일
    \D : 숫자가 아닌 것
    \w : 영문자 or 숫자, [a-zA-Z0-9] ([] : 괄호 안의 범위 중 하나)
    \W : 영문자 or 숫자가 아닌 문자
    . : 아무 문자 하나
    \. : .(dot) 문자
    \- : - 문자
    {2, 4} : 2~4회 반복 (반드시 앞의 수가 뒤의 수보다 작아야 함)
    {4} : 4회 반복
    {2, } : 2회 이상 반복
    + : 1회 이상 반복
    * : 0회 이상 반복
    ? : 0 or 1회 반복
3. 정규표현식 연습장(https://regexr.com/)
ex. 전화번호 : 02-777-7894 / 010-9999-9999
 02-898-7877 , 010-7897-7897 , 02)777-7777 , 01099998888 , 010 9999 1234 
 "[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"
 
ex2. 이메일 : abc12@naver.com / abc123@0to7.co.kr / abc123@한국.co.kr
"\w{3,}@[a-zA-Z0-9가-힣]+(\.[a-zA-Z]+){1,2}"

4. 소스 구현

```

In [1]:
import re
data = "홍길동인데 전번이 041-888-8888, \
010 9999 9999 동에번쩍 서해번쩍 abc@email.com zzz ㅋㅋㅋ ㅠㅠㅠ @^# \
오늘 날씨는 엄청 좋아요"

홍길동인데 전번이 041-888-8888, 010 9999 9999 동에번쩍 서해번쩍 abc@email.com zzz ㅋㅋㅋ ㅠㅠㅠ @^# 오늘 날씨는 엄청 좋아요

In [2]:
tel_pattern = r"[0-9]{2,3}[\-) .]?[0-9]{3,4}[\- .]?[0-9]{4}"

In [4]:
tels = re.findall(tel_pattern, data) # 해당 패턴을 전부 찾음, 없으면 [](list) 반환
tels

['041-888-8888', '010 9999 9999']

In [6]:
# search() : 정규표현식 패턴과 일치하는 처음 단어만 찾음
pattern = "(\d{2,3})-(\d{3,4})-(\d{4})"
firstTel = re.search(pattern, data)
firstTel

In [7]:
data[10:22] # 문자 슬라이싱(slicing) : 원하는 부분의 문자(데이터) 절취

'041-888-8888'

In [8]:
print('전화번호 전체 : ', firstTel.group(0))
print('국번 : ', firstTel.group(1))
print('중간번호 : ', firstTel.group(2))
print('끝번호 : ', firstTel.group(3))

전화번호 전체 :  041-888-8888
국번 :  041
중간번호 :  888
끝번호 :  8888

In [11]:
re.sub(r'[^가-힣0-9\s]', '', data) # 특수문자, 자음, 모음 없애기 / ^ : not

'홍길동인데 전번이 0418888888 010 9999 9999 동에번쩍 서해번쩍      오늘 날씨는 엄청 좋아요'

In [14]:
# 파일 경로에는 반드시 r, \\, / 중 하나를 사용
file_path = r"C:\ai_x\source\01_python\text.txt"
file_path = "C:\\ai_x\\source\\01_python\\text.txt"
file_path = "C:/ai_x/source/01_python/text.txt"

In [16]:
file_stream = open(file_path, 'w') # w : 출력 / r : 입력
print("Hello", "world", sep=" ~ ") # 콘솔 출력
print("Hello", "world", sep=" ~ ", file = file_stream) # 파일 출력
file_stream.close() # close를 하지 않으면 파일 저장 안 됨

Hello ~ world

### ※ 문자열 슬라이싱

In [17]:
str_ = '0123456789'
str_

'0123456789'

In [20]:
# 문자 인덱싱
str_[0], str_[2], str_[-1], str_[-3]

('0', '2', '9', '7')

In [21]:
str_[10]

IndexError: string index out of range

In [22]:
'''
문자변수[from:stop] : from부터 stop앞까지 추출
문자변수[from:stop:step] : from부터 stop앞까지 step씩 전진하면서 추출
    step 생략 시 기본값 1
    from 생략 시 처음부터
    stop 생략 시 끝까지
'''

'\n문자변수[from:stop] : from부터 stop앞까지 추출\n문자변수[from:stop]\n'

In [26]:
str_[0:5] # 0번째 ~ 5번째 앞까지

'01234'

In [27]:
str_[-5:-1] # -5번째부터 -1번째 앞까지

'5678'

In [28]:
str_[-4:] # -4번째부터 끝까지

'6789'

In [29]:
str_[-4:20] # 슬라이싱 시 인덱스 범위를 벗어나면 끝까지를 의미

'6789'

In [24]:
str_[0:8:2]

'0246'

In [30]:
str_[9:0:-1]

'987654321'

In [38]:
# 첫 문자(0번째 인덱스) ~ 6번쨰 인덱스까지 추출
print(str_[0:7])
# 5번째 인덱스부터 끝까지 추출
print(str_[4:])
#str_ 거꾸로 출력
print(str_[::-1])
print(str_[-1::-1])

0123456
456789
9876543210
9876543210

## 3.3 논리형(True / False)

In [48]:
a = True
print(a) # a : 매개변수(=인자 =argument) - 함수에 들어가는 인자(필수로 필요한건 아님)
print(type(a)) # a변수의 타입 출력
print(isinstance(a, bool)) # isinstance(변수, 타입) : 변수가 해당 타입인지 여부 확인
print('a 주소 :', id(a))
b = True
print('b 주소:', id(b))
b = False
print('b 주소:', id(b))

True
<class 'bool'>
True
a 주소 : 140714237446352
b 주소: 140714237446352
b 주소: 140714237446384

In [41]:
int(True), int(False)

(1, 0)

In [42]:
# False로 간주되는 것 : 0, '', ""(빈 스트링), None(없다 비슷한 개념), [](빈 리스트), (), {}
# False 이외의 모든 값은 다 True(" "또한 \s, True)

In [49]:
i = 10
if 1>5:
    print('True다')
else:
    print('False다')

False다

## 3.4 자료형 확인 및 형변환 함수
- type(변수)
- isinstance(변수, 타입)

- int()   : 정수형으로 변환
- float() : 실수형으로 변환
- str()   : 문자형으로 변환
- bool()  : 논리형으로 변환

In [70]:
int("123"), int(123.9), int(True), int("         100           ")

(123, 123, 1, 100)

In [69]:
float("123.5"), float(123), float(True), float("123"), float("         123.5          ")

(123.5, 123.0, 1.0, 123.0, 123.5)

In [63]:
# 에러나는 것들
int("123.5"), int(' '), int(''), int("1,000")

ValueError: invalid literal for int() with base 10: '123.5'

In [71]:
# float() 에러나는 것들
float("1,000.0"), float(""), float(" ")

ValueError: could not convert string to float: '1,000.0'

In [76]:
str(10), str(10.5), str(True), str(1.12e12), str(1.12e-12)

('10', '10.5', 'True', '1120000000000.0', '1.12e-12')

In [78]:
bool(""), bool(0), bool(0.0), bool([]), bool(()), bool({})

(False, False, False, False, False, False)

In [79]:
bool(" ")

True

파이썬 기본 자료형(정리)
1. 숫자 - int, float, complex
2. 문자 - str, 문자슬라이싱, raw데이터(정규표현식, 파일경로)
3. 논리 - False로 판별되는 경우

# 4절. 포맷팅
- 출력할 문자, 숫자, 날짜 데이터 형식을 지정하는 것
- 변수와 텍스트를 결합해서 보기 좋은 형식의 새로운 텍스트를 만들 수 있음

## 4.1 문자열의 출력 형식 지정

In [82]:
name = "홍길동"
age = 30
print(name, '님의 나이는 ', age, '살입니다', sep = '')

홍길동님의 나이는 30살입니다

In [88]:
print("%s님의 나이는 %3d살입니다"%(name, age)) # %s : 문자, %d : 정수, %f : 실수
print(f"{name}님의 나이는 {age}살입니다") # 차순위 이용 빈도
print("{}님의 나이는 {:3d}살입니다".format(name, age)) # 제일 많이 이용

홍길동님의 나이는  30살입니다
홍길동님의 나이는 30살입니다
홍길동님의 나이는  30살입니다

## 4.2 format() 문법

In [89]:
"{[인덱스]:[정렬방식][자릿수][타입]}".format(변수) 
    #인덱스가 없으면 0번째부터 순서대로
    # 인덱스 : format 함수 안의 매개변수의 순서
    # 정렬방식 : <(왼쪽정렬), >(오른쪽정렬), ^(중앙정렬)
    # 정수자릿수 : 출력될 자릿수 d. 변수 내용보다 작은 자릿수가 지정되면 자릿수 무시
    # 실수자릿수 : 출력될 자릿수.소수점이하 출력 자릿수f
    # 문자자릿수 : 전체확보될자릿수[.변수중출력할자릿수]s
    # 타입 : d(10진수 정수), b(2진수), x(16진수), f(실수), s(문자)
    # 공백대체문자를 쓸 경우 정렬방식을 반드시 기입해야 함

NameError: name '변수' is not defined

In [91]:
name = input('이름은?')
age = int(input('나이는?'))
print("{}살 {}님 반갑습니다.".format(age,name))
print("{1:*^4d}살 {0:_>10s}님 반갑습니다.".format(name, age))

이름은?홍길동
나이는?30
30살 홍길동님 반갑습니다.
*30*살 _______홍길동님 반갑습니다.

In [92]:
# 숫자 : 오른쪽정렬(기본값)
# 문자 : 왼쪽정렬(기본값)
# 변수보다 작은 자리수를 지정하면 자릿수가 무시되고 다 출력(정수 자리수)
i = 12345
s = "Hello"
print("[{0}], [{0:10}], [{0:3}]".format(i))
print("[{0}], [{0:10}], [{0:3}]".format(s))

[12345], [     12345], [12345]
[Hello], [Hello     ], [Hello]

In [95]:
# 문자 : 전체자릿수.표현될자릿수
# 실수 : 전체자릿수.소수점 이하 표현될 자릿수
f = 2.758
s = "Hello"
print("f = [{:$>5.2f}]".format(f))
print("s = [{:_<5.2}]".format(s))

f = [$2.76]
s = [He___]

In [100]:
# + : 부호를 출력
# = : 부호를 맨 앞에 출력
a, b = 123, -123
print("[{:5}], [{:5}]".format(a, b))
print("[{:+5}], [{:+5}]".format(a, b))
print("[{:=+5}], [{:=5}]".format(a, b))

[  123], [ -123]
[ +123], [ -123]
[+ 123], [- 123]

In [103]:
# 
f = 2.785
print("[{:+10.2f}]".format(f))

[     +2.79]

In [105]:
sign = '+'
width = 10
precision = 3
print("[{:{}{}.{}f}]".format(f,
                             sign,
                             width,
                             precision))

[    +2.785]

In [106]:
print("[{:{sign}{width}.{precision}f}]".format(f,
                             sign=sign,
                             width=width,
                             precision=precision))

[    +2.785]

In [110]:
a = 15
print("10진수 a = [{:5d}]".format(a))
print("16진수 a = [{:5x}]".format(a))
print(" 2진수 a = [{:5b}]".format(a))

10진수 a = [   15]
16진수 a = [    f]
 2진수 a = [ 1111]

## 4.3 날짜 출력

In [111]:
import re # 날짜/시간 라이브러리 (함수 매우 많음) ->파일을 여러개로 나눠 폴더 단위로 배포
from datetime import datetime # 원하는 폴더 내의 파일만 메모리에 올림
now = datetime.now()
now

datetime.datetime(2025, 4, 9, 17, 45, 1, 504050)

In [114]:
print("{}".format(now))
print("{:%Y년%m월%d일 %H시}".format(now))
print("{:%Y년%m월%d일 %p %I시 %M분 %S초}".format(now)) # S(초) 반드시 대문자

2025-04-09 17:45:01.504050
2025년04월09일 17시
2025년04월09일 PM 05시 45분 01초

In [116]:
now.strftime("%Y년%m월%d일 %p %I시 %M분 %S초")

'2025년04월09일 PM 05시 45분 01초'