In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch02 자료형과 연산자</font>

# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /, //(몫), %(나머지), **(제곱)

In [4]:
print("10의 5승 : ", 10**5)
print('4/2(결과 실수) : ', 4/2)
print('4//2(몫) :', 4//2)
print('4%2(나머지) :', 4%2)

10의 5승 :  100000
4/2(결과 실수) :  2.0
4//2(몫) : 2
4%2(나머지) : 0

In [8]:
# quiz 1. 정수를 입력받아 짝수인지 홀수인지 여부를 출력
num = int(input('정수를 입력하세요 :'))
result = num%2
if result:
    temp = "홀수"
else :
    temp = "짝수"
    
print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}. 그래서 {temp}를 입력하셨습니다.")

정수를 입력하세요 :10
입력하신 수는 10, 2로 나눈 나머지는 0. 그래서 짝수를 입력하셨습니다.

In [26]:
# quiz 2. 정수를 입력받아 5의 배수인지 여부를 출력
num = int(input('정수를 입력하세요 :')) 
result = num%5
if result :
    temp = "5의 배수가 아닌 수"
else : 
    temp = "5의 배수"
    
print(f"입력하신 수는 {num}, 5로 나눈 나머지는 {result}. 그래서 {temp}를 입력하셨습니다.")

정수를 입력하세요 :20
입력하신 수는 20, 5로 나눈 나머지는 0. 그래서 5의 배수를 입력하셨습니다.

In [28]:
# quiz 3. 국, 영, 수 점수를 입력받아 다음셀에서 다음과 같이 출력하도록 구현하시오
# 국어 : 99    영어 : 100    수학 : 99
# 총점 : 298   평균 : 99.3
kor = int(input('국어 점수를 입력하세요 : '))
eng = int(input('영어 점수를 입력하세요 : '))
math = int(input('수학 점수를 입력하세요 : '))
sum = kor + eng + math
avg = sum/3
print("국어 : {:3d}\t영어 : {:3d}\t수학 : {:3d}".format(kor, eng, math))
print("총점 : {:3d}\t평균 : {:5.1f}".format(sum, avg))

국어 점수를 입력하세요 : 99
영어 점수를 입력하세요 : 100
수학 점수를 입력하세요 : 99
국어 :  99	영어 : 100	수학 :  99
총점 : 298	평균 :  99.3

## 5.2 할당연산자 : =, +=, -=, *=, /=, //=, %=

In [30]:
a = 10
a += 5 # a = a + 5
print('5 더하기 :', a)

5 더하기 : 15

In [31]:
a -= 5 # a = a-5
print('5 빼기 :', a)
a *= 5 # a = a*5
print('5배 :', a)
# c언어, Java 처럼 ++ 연산자 없음

5 빼기 : 10
5배 : 50

## 5.3 논리연산자 : &,and,           |, or, not(부정)

In [33]:
# & 논리연산자, 비트연산자
print(  (10>3) & (10>5)  ) # 논리연산 True & True
print(12 & 1)   # 논리연산은 연산자 양쪽에 논리형이 있어야 함 -> 비트연산으로 작동 
                # (0000 1100 & 0000 0001 => 0000 0000)

True
0

In [39]:
# and : 논리연산 - False인지 아닌지 판별(False가 있으면 뒤에 뭐가 있든 즉시 False 처리)
#       False로 판별되는 첫번째 항의 결과 반환
#       모든 항이 참이면 마지막 항을 반환
print(True and 1 and 3)
print(True and False and True and True and True)
print(0 and True)
print(True and [] and True)

3
False
0
[]

In [43]:
# | : 논리연산자, 비트 연산자
result = False | True
print('논리연산(연산자 앞 뒤에 논리형일 때) : ', result)
result = False | 3 # 0000 0000
                    # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 때) : ', result)

논리연산(연산자 앞 뒤에 논리형일 때) :  True
비트연산(연산자 앞이나 뒤에 숫자일 때) :  3

In [46]:
# or : 논리연산자 - True인지 아닌지 판별(True가 있으면 뒤에 뭐가 있던 즉시 True 처리)
#      True로 판별되는 첫번째 항을 반환
print(False or False or None)
print('Hong' or ' ' or False)
print(False or False)

None
Hong
False

## 5.4 비교연산자 : >, >=, <, <=, ==(같다), !=(다르다)

In [47]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4<x) & (x<10))
print(4 < x < 10)

True
True

In [53]:
# 비교연산자(<)의 우선순위가 논리연산(&)의 우선순위보다 낮음
print((10>5) & (10>7))
print(10>5 & 10>7)    # 0101
                      # 1010
print(10>0>7)
print( 10>5 and 10>7) # and를 쓰면 가능하나 &를 주로 씀 ->() 사용에 주의

True
False
False
True

In [54]:
address = '서울'
age = 29

print((address=='서울') & (age>=30))
print((address!='서울') & (age>=30))

False

In [55]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자
# 무조건 첫글자 비교값으로 판별, 같을 경우 두번째 글자
# 글자가 전부 같을 경우 잔여 글자가 많은 쪽이 큼('가나다라' > '가나다')
'scott' < 'tiger'

True

In [56]:
'9' > '10'

True

In [57]:
'김길동' < '홍길동'

True

## 5.5 비트 연산자 : &, |, ^(XOR), ~

In [ ]:
x y x&y   x^y
0 0  0     0
0 1  0     1
1 0  0     1
1 1  1     0

In [60]:
a = 15 # 1111
b = 2  # 0010
print(" a  = {0:2} : {0:04b}".format(a))
print(" b  = {0:2} : {0:04b}".format(b))
print("a^b = {0:2} : {0:04b}".format(a^b))

 a = 15 : 1111
 b =  2 : 0010
a^b = 13 : 1101

- 연산자
    - 산술연산 : + - * / // % **
    - 할당연산 : = += -= *= /= //= %=
    - 논리연산 : & and | or not
    - 비교연산 : > >= < <= == !=
    - 비트연산 : & | ^
    - &와 |은 비교연산자보다 우선순위가 높다

# 6절. 문자열 다루기
- 문자열 슬라이싱 : 변수[from:stop:step]
- len(문자열변수) : 문자갯수 반환

- upper() : 대문자로 변환
- lower() : 소문자로 변환
- title() : 각 어절의 첫 글자만 대문자로
- capitalize() : 첫문자만 대문자로
- count('찾을 문자열') : '찾을 문자열'이 몇개 들어 있는지 갯수 반환
- find('찾을 문자열') : 찾을 문자열이 왼쪽부터 시작하여 몇 번째 인덱스에 있는지 체크, 인덱스 반환
- rfind('찾을 문자열') : 찾을 문자열이 오른쪽부터 시작하여 몇 번째에 있는지 체크, 인덱스 반환
        **찾을 문자열이 없으면 -1 반환**
- cf) index('찾을 문자열') : 찾을 문자열의 인데스를 반환. 찾을 문자열이 없으면 오류
- startswith('특정 문자열') : 특정문자열로 시작하는지 여부
- endswith('특정 문자열') : 특정문자열로 끝나는지 여부
- strip() : 좌우 공백 제거(문자열 내부 공백은 제거 X)
- rstrip() : 오른쪽 공백 제거
- lstrip() : 왼쪽 공백 제거
- isdigit() : 문자열이 숫자문자열인지 여부 "100"
- islower() : 소문자 문자열인지 여부
- isupper() : 대문자 문자열인지 여부
- replace(oldStr, newStr) : oldStr을 newStr로 변경

In [82]:
temp = "python is easy. pYThon is smart. python"
print('1. 글자수', len(temp))
print('2. 대문자로 : ', temp.upper())
print('3. 소문자로 : ', temp.lower())
print('4. title : ', temp.title())
print('5. capitalize() : ', temp.capitalize())
print('6. python이 몇번 나오는지 : ', temp.count('python'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 : ', temp.lower().count('python'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 : ', temp.upper().count('PYTHON'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 : ', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치:', temp.find('python'))
print('8. python이 나오는 마지막 index 위치:', temp.rfind('python'))
print('8. java가 나오는 마지막 index 위치:', temp.rfind('java'))
print('8. python이 나오는 첫 index 위치:', temp.index('python'))
# print('8. java가 나오는 첫 index 위치:', temp.index('java'))
print('9. python으로 시작하는지 여부', temp.startswith('python'))
print('10. 대소문자 구분 없이 python으로 끝나는지 여부', temp.upper().endswith('PYTHON'))

1. 글자수 39
2. 대문자로 :  PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 :  python is easy. python is smart. python
4. title :  Python Is Easy. Python Is Smart. Python
5. capitalize() :  Python is easy. python is smart. python
6. python이 몇번 나오는지 :  2
7. 대소문자 구분없이 python이 몇번 나오는지 :  3
7. 대소문자 구분없이 python이 몇번 나오는지 :  3
7. 대소문자 구분없이 python이 몇번 나오는지 :  3
8. python이 나오는 첫 index 위치: 0
8. python이 나오는 마지막 index 위치: 33
8. java가 나오는 마지막 index 위치: -1
8. python이 나오는 첫 index 위치: 0
9. python으로 시작하는지 여부 True
10. 대소문자 구분 없이 python으로 끝나는지 여부 True

In [95]:
temp = '          python is easy.        '
notdisit = '1,000,000'
num_str = "1000"
print('11. 좌우 공백제거 : [{}]'.format(temp.strip()))
print('11. 좌측 공백제거 : [{}]'.format(temp.lstrip()))
print('11. 우측 공백제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 여부 : ', notdisit.isdigit())
print('13. 소문자 문자열인지 여부 : ', temp.islower())
print('13. 대문자 문자열인지 여부 : ', temp.isupper())
print('14. ,제거 :', notdisit.replace(',', ''))
print('14. ,제거 :', num_str.replace(',', ''))

11. 좌우 공백제거 : [python is easy.]
11. 좌측 공백제거 : [python is easy.        ]
11. 우측 공백제거 : [          python is easy.]
12. 숫자문자열인지 여부 :  False
13. 소문자 문자열인지 여부 :  True
13. 대문자 문자열인지 여부 :  False
14. ,제거 : 1000000
14. ,제거 : 1000

In [97]:
temp = " 홍길동     김길동 신길똥  유길동"
print('space단위로 temp를 분리 :', temp.split()) # 기본값 : space 단위로 분리

space단위로 temp를 분리 : ['홍길동', '김길동', '신길똥', '유길동']

In [100]:
data = "2025-04-10"
print(' - 단위로 data를 분리(결과 : list)')
data_list = data.split('-')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리(결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [106]:
# ' - ' 를 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaScript - DBMS"
#temp.replace(' - ', '/')
print('원 데이터 : ',temp)
splited_temp = temp.split(' - ')
print('분리된 데이터 : ', splited_temp)
joined_temp = '/'.join(splited_temp)
print('join된 데이터 : ', joined_temp)

원 데이터 :  Python - HTML/CSS - JavaScript - DBMS
분리된 데이터 :  ['Python', 'HTML/CSS', 'JavaScript', 'DBMS']
join된 데이터 :  Python/HTML/CSS/JavaScript/DBMS

In [ ]:
str_ = 'ABC'
# str_ = [ 'A', 'B', 'C']

In [107]:
# 문자열이 다룰 수 있는 함수들과 변수들 목록
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간, 날짜, 날짜시간 다루기

In [3]:
import datetime 
datetime.__file__

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [4]:
# datetime모듈(datetime.py)안의 datetime, date, time만 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [5]:
# 특정한 시점을 갖는 datetime 객체 생성
thatday = datetime(2025, 4, 7, 9, 30, 0)
thatday

datetime.datetime(2025, 4, 7, 9, 30)

In [14]:
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 변환(미국인)
print("{:%Y년 %m월 %d일 %p %I시 %M분 %S초}".format(thatday))
print(thatday.strftime("%Y년 %m월 %d일 (%A) %p %I시 %M분 %S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년 04월 07일 오전 09시 30분 00초
2025년 04월 07일 (월요일) 오전 09시 30분 00초

In [13]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [16]:
# 현 시점
now = datetime.now()
print(now.strftime("%y-%m%d(%A) %H:%M:%S"))

25-0411(금요일) 10:14:49

In [17]:
diff = now - thatday
diff

datetime.timedelta(days=4, seconds=2689, microseconds=905434)

In [18]:
diff.days

4

## 7.2 날짜만 저장

In [19]:
someday = date(2025, 9, 3)
someday

datetime.date(2025, 9, 3)

In [20]:
print(someday.strftime("%Y년%m월%d일"))

2025년09월03일

In [23]:
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [24]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [25]:
diff = someday - today
diff.days

145

## 7.3 시간만 저장

In [26]:
# 특정 시간
t = time(13,10)
t

datetime.time(13, 10)

In [27]:
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [28]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(10, 42, 33, 917518)

In [29]:
now_time.strftime("H시 %M분 %S초")

'H시 42분 33초'

**datetime, date, time 형들을 원하는 포맷의 문자형으로 반환 : strftime()**
- %Y, %y, %M, %m, %d, %A(요일), %p(오전/오후), %H(24시), %I(12시), %S(초)

# 8절. 연습문제

In [109]:
# 1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
# 출력형식 : 홍길동님의 나이는 23 살입니다
name = '홍길동'
age = 23
print("{}님의 나이는 {}살입니다".format(name, age))

홍길동님의 나이는 23살입니다

In [113]:
# 2.두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요
num1 = int(input("첫 번째 정수를 입력하세요"))
num2 = int(input("두 번째 정수를 입력하세요"))
sum = num1 + num2
sub = num1 - num2
mul = num1 * num2
div = num1 / num2
qui = num1 // num2
rem = num1 % num2
print("""두 수의 덧셈 : {}\t두 수의 뺄셈 : {}\t두 수의 곱셉 : {}\n두 수의 나눗셈 : {}\t몫 : {}\t\t나머지 : {}""".format(sum, sub, mul, div, qui, rem))

첫 번째 정수를 입력하세요10
두 번째 정수를 입력하세요2
두 수의 덧셈 : 12	두 수의 뺄셈 : 8	두 수의 곱셉 : 20
두 수의 나눗셈 : 5.0	몫 : 5		나머지 : 0

In [6]:
# 3.문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello World'가 할당된 변수를 이용하여 'World Hello'로 출력하세요.
origin_str = 'Hello World'
split_origin = origin_str.split(' ')
new_str = '{} {}'.format(split_origin[1], split_origin[0])
print(new_str)
print(' '.join(split_origin[::-1]))

World Hello
World Hello

In [129]:
# 4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 (문자 슬라이싱이용)
x = 'abcdef'
new = x[1:3] + x[3:5] + x[5] + x[0]
new

'bcdefa'

In [130]:
# 5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요
x = 'abcdef'
x[::-1]

'fedcba'

In [4]:
# # 6.오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 .
# 화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 소수점이하 값이 없는 경
# 우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
# C 는 섭씨, F 는 화씨
# C = (F-32) / 1.8
# F = (C*1.8) + 32

temp_c = float(input("오늘의 온도를 섭씨 온도로 입력하세요 :"))
temp_f = (temp_c*1.8) + 32
if temp_f%1==0 :
    print("화씨 온도는 {:.0f}도입니다".format(temp_f))
else : 
    print("화씨 온도는 {:.2f}도입니다.".format(temp_f))

# if not temp_f.is_integer() :
# else :

오늘의 온도를 섭씨 온도로 입력하세요 :0
화씨 온도는 32도입니다

In [ ]:
# 7. 다음 중 변수 선언으로 잘못된 것을 모두 고르시오
# ① for
# ② 10th
# ③ Student.name
# ④ _1234
1,2,3

In [ ]:
# 8. 다음의 코드의 실행결과는?
# text = "Seoul A001 - programming with python"
# print(text[:4]+text[-1]+text.split()[0])
# print(text[:4], text[-1], text.split()[0])
SeounSeoul
Seou n Seoul

In [ ]:
# 9. 다음 중 파이썬 3.x 버전에서 연산식과 그 결과의 출력이 잘못된 것은?
# ① 수식 8//2 결과 4
# ② 수식 8/2 결과 4
# ③ 수식 8 **2 결과 64
2 (4.0출력)

In [ ]:
# 10. 아래 프로그램의 결과는?
x = 5
y = "John"
print(x + y)
에러 발생 (int + str)

In [141]:
# 11. split() 함수를 이용하여 str_ 의 값 중 나라 를 출력하는 프로그램을 완성하시오
str_ = "우리 나라 대한 민국"
split_str_ = str_.split()
print(split_str_[1])

나라