In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch03. 데이터 구조</font>
- 리스트[], 튜플() - 수정 불가, 딕셔너리{}, 셋

# 1절. 리스트
## 1.1 리스트 만들기

- []를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능 (매개변수는 하나만 가능)
- 인덱스 : 각 요소의 위치, 0부터 시작, 맨 마지막 인덱스가 시작일 경우는 -1
- 슬라이싱( [from:stop:step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기, 쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [4]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [5]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [8]:
fruits = ['mango', 'apple', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(f'fruits={fruits}')

x=mango
y=apple
z=orange
fruits=['mango', 'apple', 'orange']

In [14]:
# range(from, to, by) : from부터 to 앞까지 by씩 중가하면서 지정된 범위의 정수
#                         from 생략 가능, 기본값 : 0
#                         by 생략 가능, 기본값 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list(range(101,111)) # 0부터 10 앞까지

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [16]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [19]:
# 반복문(3회)
for i in range(3) : 
    print(i)

0
1
2

In [27]:
fruits = ['mango', 'apple', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)) :
    print("{}번째 과일은 {}입니다.".format(i, fruits[i]))
# for i in fruits : 
#     print(i)

0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
3번째 과일은 grape입니다.

In [29]:
for value in fruits : # 단점 : 인덱스를 출력하지 못함
    print(value)

mango
apple
orange
grape

In [34]:
# enumerate(나열가능한 자료) : (index, 값)들의 셋들
for idx, value in enumerate(fruits): 
    print("{}번째 과일은 {}입니다.".format(idx, value))

0번째 과일은 mango입니다.
1번째 과일은 apple입니다.
2번째 과일은 orange입니다.
3번째 과일은 grape입니다.

In [43]:
# 리스트는 여러 타입의 데이터를 담을 수 있음
numbers = [0, True, '2', 3, [4, 5, 6]]
print(numbers)
print(numbers[1])
print(numbers[4][1])

[0, True, '2', 3, [4, 5, 6]]
True
5

In [47]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],]
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [51]:
for i, row in enumerate(numbers_2d) :
    for j, value in enumerate(row) :
        print("{}행 {}열 : {}".format(i, j, value), end = '\t')
    print() # print() : 개행(줄바꿈) 의미

0행 0열 : 90	0행 1열 : 91	0행 2열 : 92	0행 3열 : 93
1행 0열 : 80	1행 1열 : 81	1행 2열 : 82	1행 3열 : 83
2행 0열 : 70	2행 1열 : 71	2행 2열 : 72	2행 3열 : 73

In [73]:
for row in numbers_2d : 
    for item in row :
        print(item, end = '\t')
    print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [78]:
numbers = [1, 12, 3, 5, 4]
numbers_2d = [[100,0],
              [9, 100, 1, 2, 3],
              [50, 54],]

In [75]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [76]:
# 최대값, 최소값
min(numbers), max(numbers)

(1, 12)

In [79]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작은 값
#             max() : 0번 인덱스 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100, 1, 2, 3], [100, 0])

In [80]:
# 문자 list일 경우 ascii 코드 값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [84]:
numbers = [1, 12, 3, 5, 4]
# 정렬(오름차순, 내림차순)
print('오름차순 : ', sorted(numbers))
print('내림차순 : ', sorted(numbers, reverse=True))
print('sorted함수 사용 시 리스트 내용은 바뀌지 않음 : ', numbers)
print('합 : ', sum(numbers))

오름차순 :  [1, 3, 4, 5, 12]
내림차순 :  [12, 5, 4, 3, 1]
sorted함수 사용 시 리스트 내용은 바뀌지 않음 :  [1, 12, 3, 5, 4]
합 :  25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복(list * 수)
append() : 리스트 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : 'idx'위치에 '값'을 끼워넣음(기존 데이터는 shifh)
```

In [85]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [88]:
# 반복
numbers = [1, 2, 3]
print(numbers * 3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [96]:
# 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [97]:
numbers.append([5, 6, 7]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [99]:
# 요소 별로 각각 추가
num = [1, 2, 3]
# num.append([4, 5, 6])
num.extend([4, 5, 6])
print(num)

[1, 2, 3, 4, 5, 6]

In [100]:
num.insert(2, 'X')
print(num)

[1, 2, 'X', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯수
- 변수[index] : 인덱스를 이용한 접근
- index(찾을데이터) : 해당 찾을 데이터가 있는 요소의 index 반환
                    찾을 데이터가 없을 경우 오류 발생
- count(찾을데이터) : 리스트에서 찾을 데이터의 갯수 반환
                    찾을 데이터가 없을 경우 0 반환

In [102]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [103]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [104]:
numbers.index(2, 3) # 3번째 인덱스부터 2가 처음 나오는 index를 반환

5

In [106]:
numbers = [1, 2, 3, [1, 2, 3], 1, 2, 3]
if 9 in numbers :
    print(numbers.index(9))
else : 
    print('9가 없습니다')

9가 없습니다

In [107]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [108]:
# find() 자체 제작
def save_index(lst, data) :
    if data in lst : # lst안에 데이터가 있는지 여부 확인
        return lst.index(data)
    else :
        return -1

In [109]:
save_index(numbers, 9)

-1

In [112]:
# numbers.index(9)
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스 범위 벗어나도 에러 안남)
    - [from:stop:step] : from부터 stop'앞'까지 step씩 증가하는 index의 값을 추출
    - from 생략시 처음부터, stop 생략시 끝까지, step 생략시 하나씩 증가, 모두 생략 가능
    - 음수 인덱스 가능

2. <font color = 'red'>리스트 컴프리헨션 : 리스트에서 원하는 데이터를 추출(중요) </font>

In [114]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
# 짝수번째 index 값 출력
print(numbers[::2])
# 거꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [122]:
numbers = [1, 3, 5, 9, 10, 12, 13, 20]
#리스트에서 모든 데이터를 변수에 담아 출력하시오.
result = []
for data in numbers : 
    result.append(data)
print(result)


# 리스트에서 짝수 데이터만 변수에 담아 출력하시오
result = []
# for data in numbers : 
#     if data%2 :
#         pass
#     else :
#         result.append(data)
for data in numbers : 
    if not data%2 : 
        result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]
[10, 12, 20]

**리스트 컴프리헨션**

In [123]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [125]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[data for data in numbers if data%2==0]

[10, 12, 20]

In [126]:
# ex1. numbers에서 10이상만 추출
[data for data in numbers if data>=10]

[10, 12, 13, 20]

In [127]:
# ex2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[test1 for test1 in fruits if len(test1)>5]

['orange']

In [128]:
# ex3. L에서 3이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
[test2**2 for test2 in L if test2>=3]

[9, 16, 25]

## 1.6 요소 수정하기

In [135]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# index를 이용해서 원하는 특정 데이터 수정
numbers[2] = 222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [136]:
# 슬라이싱을 이용해서 요소 수정(step부분이 미포함 - 부분 리스트가 통째로 수정)
numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
numbers

[0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 4, 5, 6, 7, 8, 9]

In [137]:
# 슬라이싱을 이용해서 요소 수정(step부분 포함 : 요소 개수 동일해야함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2]  = [99,99,99,99,99]# [0,2,4,6,8]
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 삭제
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지울data) : 리스트 안의 data가 삭제
- del 변수[idx] : idx번째 요소가 삭제

In [146]:
numbers = [1, 2, 3, 4, 5]
delete_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data2, numbers))

del numbers[2]
print('numbers :', numbers)

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 1, 리스트 : [2, 3, 4]
numbers : [2, 3]

In [149]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3) # remove()는 반환값 없음, 해당 데이터만 삭제, 해당 데이터가 없으면 오류 발생
print(numbers)

[1, 2, 4, 5]

In [151]:
numbers.remove(9)

ValueError: list.remove(x): x not in list

In [152]:
if 9 in numbers : 
    numbers.remove(9)
else :
    print('해당 데이터가 없습니다.')

해당 데이터가 없습니다.

In [155]:
def safe_remove(lst, remove_data) :
    if remove_data in lst :
        lst.remove(remove_data)
        print(remove_data, '삭제 완료')
    else :
        print(f'{remove_data}는 없는 아이템입니다.')

In [156]:
safe_remove(numbers, 9)
safe_remove(numbers, 5)

9는 없는 아이템입니다.
5 삭제 완료

In [157]:
numbers

[1, 2, 4]