In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red"> ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그 묶음에 이름을 붙인 것
- 오버로딩 : 함수 이름이 같고, 매개변수의 개수로 다른 함수를 허용하는것 불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ..., 매개변수n]) - [] : 생략가능
    명령어1
    명령어2
    ...
    명령어n
```

In [ ]:
# 
def add(a, b) :
    print(1)
def add(a) :
    print(2)

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
# 함수 정의
def my_message(x, msg) : # msg를 x번 출력하는 함수
    for i in range(x) :
        print(msg)

In [3]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
my_msg = my_message
my_msg(3, "hello")

hello
hello
hello

In [5]:
type(my_msg), type(my_message)

(function, function)

In [1]:
print('Hello') # python 내장 함수(기본 제공 함수 - import 필요 없음)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [6]:
my_message(2, 'Hello')

Hello
Hello

In [7]:
my_message = 5

In [8]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [10]:
del my_message # 변수를 삭제 해도 함수 사용 불가(python 내장 함수 아님)

NameError: name 'my_message' is not defined

In [11]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [1]:
# 함수 정의 : 4월 16일(수)
def my_hello() :
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt) :
    for i in range(cnt) :
        print('Hello, Python')
        print('Hello, World')

In [3]:
# 함수 사용 = 함수 호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [4]:
my_hello

In [6]:
__name__

'__main__'

In [7]:
if __name__=='__main__' :
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05 # ch05 모듈을 load

In [2]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [8]:
from ch05 import my_hello # ch05 모듈 안의 my_hello load

In [9]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring(함수 설명서)

In [5]:
def my_function() :
    '''함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링 볼 수 있음)
    '''
    pass

In [7]:
print(my_function.__doc__)

함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링 볼 수 있음)

In [10]:
def fibonacci(n) :
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print() # 개행

In [12]:
fibonacci(10)

0 1 1 2 3 5 8

In [16]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [18]:
global_var = 100 # 전역변수
def func1() :
    print('함수안 : ', global_var)
func1()
print('함수 밖 : ', global_var)

함수안 :  100
함수 밖 :  100

In [20]:
def func2() :
    local_var = 200 # 지역변수
    print('함수 안 : ', local_var)
func2()
print('함수 밖 : ', local_var)

함수 안 :  200

NameError: name 'local_var' is not defined

In [21]:
g_var = 100 # 전역변수
def func3() :
    g_var = 200
    print('함수 안(지역변수 g_var) : ', g_var)
func3()
print('함수 밖(전역변수 g_var) : ', g_var)

함수 안(지역변수 g_var) :  200
함수 밖(전역변수 g_var) :  100

In [22]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4() :
    print('함수 안 g_var : ', g_var)
    g_var = 200 # 변수 선언이 먼저 해석됨 => 지역변수 g_var=200 부터 생성
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [3]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4() :
    global g_var # func4 함수 내에 g_var는 전역 변수를 쓴다
    print('함수 안 g_var : ', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var : ', g_var)

함수 안 g_var :  100
함수 밖 g_var :  200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일때

In [4]:
foo = 'a' # 전역변수
id(foo)

1981043533616

In [12]:
def func1(f) : # 매개변수는 지역변수
    print('Before : ', f, 'id(f) : ', id(f))
    f = f*3
    print('After : ', f, 'id(f) : ', id(f))
func1(foo)

Before :  a id(f) :  1981043533616
After :  aaa id(f) :  1981156295984

In [6]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 잔달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [7]:
L = [1, 2, 3]
id(L)

1981150606336

In [11]:
def func2(f) : # 매개변수는 지역변수
    print('Before : ', f, 'id(f) : ', id(f))
    f.append(4)
    print('After : ', f, 'id(f) : ', id(f))
func2(L)

Before :  [1, 2, 3, 4, 4] id(f) :  1981150606336
After :  [1, 2, 3, 4, 4, 4] id(f) :  1981150606336

In [13]:
print('L = ', L, id(L))

L =  [1, 2, 3, 4, 4, 4] 1981150606336

# 2절. 함수의 실행결과 반환 return

In [20]:
def fibonacci_print(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8 출력
    '''
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print() # 개행

def fibonacci_return(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8] return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a + b
    return result

In [19]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [21]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [22]:
def swap(a, b) :
    '매개변수의 순서를 바꿔서 return'
    return b, a # (b, a) 형식의 튜플로 패킹해서 전달

In [24]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y) # (10, 5)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [30]:
def make_url(ip, port = 80) : # 순서인수 > 기본값을 갖는 매개변수 (default 값이 없는 매개변수가 앞에 와야 함)
    return "http://{}:{}".format(ip, port)

In [33]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8080))
print(make_url(port = 8090, ip = 'localhost')) # 매개변수의 순서를 바꿀 경우 각 매개변수의 값이 무엇인지 명시

http://www.naver.com:80
http://localhost:8080
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때(튜플은 상수처럼 변하지 않기 때문에 상관 X)

In [41]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본 값은 함수가 정의되는 시점의 값
def func2(arg = i) :
    print('arg = : ', arg)

In [43]:
i = 5
func2()

arg = :  5

In [44]:
list_ = []
# 기본 값을 갖는 변수가 객체(데이터구조) 일 때 : arg의 기본값은 함수가 호출되는 시점의 값
def func3(data, L = list_) :
    'data를 L에 append'
    L.append(data)
    return L

In [45]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [47]:
print(func3(20))

[10, 20]

In [53]:
def func4(data, L=None) :
    if L==None :
        L = []
    L.append(data)
    return L

In [54]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [56]:
# python에서는 오버로딩(함수의 중복)이 허용되지 않음
def add(a, b) :
    return a + b
def add(a,b,c) :
    return a+b+c

In [57]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [63]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args) :
    '전달받은 매개변수들의 합을 return'
#     print('args : ', args)
    result_tot = 0 # 누적변수
    for data in args :
        result_tot += data
    return result_tot

In [64]:
print(add(1))
print(add(1,2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [66]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [67]:
def concat(*subject, sep) :
    return sep.join(subject)

In [68]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [70]:
# 해결책 1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [71]:
# 해결책 2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep = ' ~ ') :
    return sep.join(subject)

In [72]:
concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ') # 키워드 인수 : 기본값을 가지고, 명시해야 값을 변경할 수 있음

'Python / Oracle / DL / ML'

In [73]:
print('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

Python / Oracle / DL / ML

In [75]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep = '=', *subject) :
    return sep.join(subject)

In [77]:
concat(sep='/','Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [84]:
def func5(**kwargs) :
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [85]:
func5(name = '홍길동', age = 30, address = '신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [86]:
func5(name = '김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수 정의 시 매개변수 순서
- 순서인수 > 튜플 매개변수(*) > 키워드인수(매개변수 이름 명시) > 딕셔너리 매개변수(**)

In [87]:
def func6(a, b, *c, **d) :
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('딕셔너리 인수 d : ', d)

In [89]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name='홍길동', age=30, address='서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [90]:
def func7(a, b, *c, d='기본값', **e) :
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('키워드인수(기본값을 갖는 인수, 호출 시 매개변수명 반드시 명시) d : ', d)
    print('딕셔너리인수 e : ', e)

In [91]:
func7(10, 20, 1, 2, 3, d = '딴거', fontsize=12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출 시 매개변수명 반드시 명시) d :  딴거
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

In [92]:
func7(10, 20, 1, 2, 3,'딴거', fontsize=12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출 시 매개변수명 반드시 명시) d :  기본값
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹(unpacking)
### 튜플인수 언패킹
- 언패킹 : 함수 호출 시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의 시 매개변수 앞에 * 붙임(튜플매개변수)

In [99]:
def add(*args) :
    print(args)
    tot = 0
    for num in args :
        tot += num
    return tot

In [101]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [102]:
numbers = (1, 2, 3, 4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

In [103]:
numbers = [1, 2, 3, 4]
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출 시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임

In [110]:
def func5(**data) :
    print(type(data))
    for key, item, in data.items() :
        print(f'{key}:{item}')

In [111]:
func5(name='홍길동', age = 30, address = '신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [112]:
customInfo = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강남구', 'score' : 900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 짧은 익명함수
## 4.1 람다식 연습

In [113]:
def add(a, b) :
    return a + b
add(3, 4)

7

In [114]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [115]:
type(add), type(add2)

(function, function)

In [116]:
(lambda a, b : a + b)(3, 4)

7

In [126]:
# ex.1 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num) :
#     if num%2:
#         result = '홀수'
#     else :
#         result = '짝수'
    return '홀수' if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(9)

('짝수', '홀수')

In [136]:
# ex.2 두 매개변수의 차를 return
ex2 = lambda num1, num2 : num1-num2 if num1 > num2 else num2 - num1
ex2(-8, 9)

17

In [131]:
# ex.3 매개변수로 잔액을 받아 양수면 잔액을, 음수면 'negative'를 return
ex3 = lambda money : money if money>=0 else 'negative'
ex3(90000)

90000

In [137]:
# ex.4 점수를 입력받아 80점 이상은 A그룹, 60점 이상은 B그룹, 60점 미만은 재시험, 그 외는 유요하지 않음 return
# def ex4() :
#     score = int(input('점수를 입력하세요 : '))
#     if 80<=score<=100 :
#         return 'A'
#     elif 60<score<80 :
#         return 'B'
#     elif 0<=score<60 :
#         return '재시험'
#     else :
#         return '유효하지 않음'
ex4 = lambda score : "A" if 80 <= score <= 100 else \
                    "B팀" if 60 <= score < 80 else \
                    "재시험" if 0 <= score < 60 else \
                    "유효하지 않음"
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A', 'B팀', '재시험')

In [142]:
# ex.5 safe_index를 람다식으로
# def safe_index(lst, data) :
#     if data in lst :
#         return lst.index(data)
#     else :
#         return -1
safe_index = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
safe_index(tup, 4), safe_index(tup, 3)

(-1, 2)