In [1]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<b><font size="5" color="red"> ch05. 함수</font></b>
- 사용할 코드를 묶어 놓고 그 묶음에 이름을 붙인 것
- 오버로딩 : 함수 이름이 같고, 매개변수의 개수로 다른 함수를 허용하는것 불가
- 함수 정의
```
def 함수명([매개변수1, 매개변수2, ..., 매개변수n]) - [] : 생략가능
    명령어1
    명령어2
    ...
    명령어n
```

In [ ]:
# 
def add(a, b) :
    print(1)
def add(a) :
    print(2)

# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [2]:
# 함수 정의
def my_message(x, msg) : # msg를 x번 출력하는 함수
    for i in range(x) :
        print(msg)

In [3]:
# 함수 사용
my_message(5, 'Hello')

Hello
Hello
Hello
Hello
Hello

In [4]:
my_msg = my_message
my_msg(3, "hello")

hello
hello
hello

In [5]:
type(my_msg), type(my_message)

(function, function)

In [1]:
print('Hello') # python 내장 함수(기본 제공 함수 - import 필요 없음)
print = 5
# print('Hello')
del print
print('Hello')

Hello
Hello

In [6]:
my_message(2, 'Hello')

Hello
Hello

In [7]:
my_message = 5

In [8]:
my_message(2, 'Hello')

TypeError: 'int' object is not callable

In [10]:
del my_message # 변수를 삭제 해도 함수 사용 불가(python 내장 함수 아님)

NameError: name 'my_message' is not defined

In [11]:
my_message(2, 'Hello')

NameError: name 'my_message' is not defined

In [1]:
# 함수 정의 : 4월 16일(수)
def my_hello() :
    print('Hello, Python')
    print('Hello, World')
def my_hello(cnt) :
    for i in range(cnt) :
        print('Hello, Python')
        print('Hello, World')

In [3]:
# 함수 사용 = 함수 호출
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [4]:
my_hello

In [6]:
__name__

'__main__'

In [7]:
if __name__=='__main__' :
    my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [1]:
import ch05 # ch05 모듈을 load

In [2]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [8]:
from ch05 import my_hello # ch05 모듈 안의 my_hello load

In [9]:
my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 docstring(함수 설명서)

In [5]:
def my_function() :
    '''함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링 볼 수 있음)
    '''
    pass

In [7]:
print(my_function.__doc__)

함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift + tab 으로 독스트링 볼 수 있음)

In [10]:
def fibonacci(n) :
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print() # 개행

In [12]:
fibonacci(10)

0 1 1 2 3 5 8

In [16]:
a, b

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [18]:
global_var = 100 # 전역변수
def func1() :
    print('함수안 : ', global_var)
func1()
print('함수 밖 : ', global_var)

함수안 :  100
함수 밖 :  100

In [20]:
def func2() :
    local_var = 200 # 지역변수
    print('함수 안 : ', local_var)
func2()
print('함수 밖 : ', local_var)

함수 안 :  200

NameError: name 'local_var' is not defined

In [21]:
g_var = 100 # 전역변수
def func3() :
    g_var = 200
    print('함수 안(지역변수 g_var) : ', g_var)
func3()
print('함수 밖(전역변수 g_var) : ', g_var)

함수 안(지역변수 g_var) :  200
함수 밖(전역변수 g_var) :  100

In [22]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4() :
    print('함수 안 g_var : ', g_var)
    g_var = 200 # 변수 선언이 먼저 해석됨 => 지역변수 g_var=200 부터 생성
func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [3]:
# 렉시컬 특성
g_var = 100 # 전역변수
def func4() :
    global g_var # func4 함수 내에 g_var는 전역 변수를 쓴다
    print('함수 안 g_var : ', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var : ', g_var)

함수 안 g_var :  100
함수 밖 g_var :  200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수)로 전달되는 변수가 스칼라 변수(문자, 숫자, 논리형)일때

In [4]:
foo = 'a' # 전역변수
id(foo)

1981043533616

In [12]:
def func1(f) : # 매개변수는 지역변수
    print('Before : ', f, 'id(f) : ', id(f))
    f = f*3
    print('After : ', f, 'id(f) : ', id(f))
func1(foo)

Before :  a id(f) :  1981043533616
After :  aaa id(f) :  1981156295984

In [6]:
print(foo)

a

## 1.5 참조에 의한 호출
- 함수의 매개변수(인자)로 잔달되는 변수가 리스트, 튜플, 셋, 딕셔너리 등의 객체일 경우

In [7]:
L = [1, 2, 3]
id(L)

1981150606336

In [11]:
def func2(f) : # 매개변수는 지역변수
    print('Before : ', f, 'id(f) : ', id(f))
    f.append(4)
    print('After : ', f, 'id(f) : ', id(f))
func2(L)

Before :  [1, 2, 3, 4, 4] id(f) :  1981150606336
After :  [1, 2, 3, 4, 4, 4] id(f) :  1981150606336

In [13]:
print('L = ', L, id(L))

L =  [1, 2, 3, 4, 4, 4] 1981150606336

# 2절. 함수의 실행결과 반환 return

In [20]:
def fibonacci_print(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 출력
    ex. n=10이면 0 1 1 2 3 5 8 출력
    '''
    a, b = 0, 1
    while a < n :
        print(a, end = ' ')
        a, b = b, a + b
    print() # 개행

def fibonacci_return(n) :
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8] return
    '''
    result = []
    a, b = 0, 1
    while a < n :
        result.append(a)
        a, b = b, a + b
    return result

In [19]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [21]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [22]:
def swap(a, b) :
    '매개변수의 순서를 바꿔서 return'
    return b, a # (b, a) 형식의 튜플로 패킹해서 전달

In [24]:
x, y = 5, 10
print(f'함수 실행 전 x = {x}, y = {y}')
x, y = swap(x, y) # (10, 5)
print(f'함수 실행 후 x = {x}, y = {y}')

함수 실행 전 x = 5, y = 10
함수 실행 후 x = 10, y = 5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [30]:
def make_url(ip, port = 80) : # 순서인수 > 기본값을 갖는 매개변수 (default 값이 없는 매개변수가 앞에 와야 함)
    return "http://{}:{}".format(ip, port)

In [33]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8080))
print(make_url(port = 8090, ip = 'localhost')) # 매개변수의 순서를 바꿀 경우 각 매개변수의 값이 무엇인지 명시

http://www.naver.com:80
http://localhost:8080
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본 변수가 스칼라 변수일 때
- 기본 변수가 리스트, 셋, 딕셔너리 등의 객체일 때(튜플은 상수처럼 변하지 않기 때문에 상관 X)

In [41]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본 값은 함수가 정의되는 시점의 값
def func2(arg = i) :
    print('arg = : ', arg)

In [43]:
i = 5
func2()

arg = :  5

In [44]:
list_ = []
# 기본 값을 갖는 변수가 객체(데이터구조) 일 때 : arg의 기본값은 함수가 호출되는 시점의 값
def func3(data, L = list_) :
    'data를 L에 append'
    L.append(data)
    return L

In [45]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [47]:
print(func3(20))

[10, 20]

In [53]:
def func4(data, L=None) :
    if L==None :
        L = []
    L.append(data)
    return L

In [54]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [56]:
# python에서는 오버로딩(함수의 중복)이 허용되지 않음
def add(a, b) :
    return a + b
def add(a,b,c) :
    return a+b+c

In [57]:
add(1,2,3,4)

TypeError: add() takes 3 positional arguments but 4 were given

In [63]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음
def add(*args) :
    '전달받은 매개변수들의 합을 return'
#     print('args : ', args)
    result_tot = 0 # 누적변수
    for data in args :
        result_tot += data
    return result_tot

In [64]:
print(add(1))
print(add(1,2))
print(add(1, 2, 3))
print(add(1, 2, 3, 9, 10))

1
3
6
25

In [66]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [67]:
def concat(*subject, sep) :
    return sep.join(subject)

In [68]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

TypeError: concat() missing 1 required keyword-only argument: 'sep'

In [70]:
# 해결책 1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

'Python / Oracle / DL / ML'

In [71]:
# 해결책 2 : 기본값을 갖는 반드시 갖는 키워드인수 사용
def concat(*subject, sep = ' ~ ') :
    return sep.join(subject)

In [72]:
concat('Python', 'Oracle', 'DL', 'ML', sep = ' / ') # 키워드 인수 : 기본값을 가지고, 명시해야 값을 변경할 수 있음

'Python / Oracle / DL / ML'

In [73]:
print('Python', 'Oracle', 'DL', 'ML', sep = ' / ')

Python / Oracle / DL / ML

In [75]:
# 해결책 3 : sep을 순서인수로 앞에 선언
def concat(sep = '=', *subject) :
    return sep.join(subject)

In [77]:
concat(sep='/','Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러개의 키워드인수를 딕셔너리 형태로 받아서 가변키워드 인수 처리

In [84]:
def func5(**kwargs) :
    print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [85]:
func5(name = '홍길동', age = 30, address = '신림동')

{'name': '홍길동', 'age': 30, 'address': '신림동'}
<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [86]:
func5(name = '김길동')

{'name': '김길동'}
<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수 정의 시 매개변수 순서
- 순서인수 > 튜플 매개변수(*) > 키워드인수(매개변수 이름 명시) > 딕셔너리 매개변수(**)

In [87]:
def func6(a, b, *c, **d) :
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('딕셔너리 인수 d : ', d)

In [89]:
func6(10, 20, 1,2,3,4,5,6,7,8,9, name='홍길동', age=30, address='서울')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, 4, 5, 6, 7, 8, 9)
딕셔너리 인수 d :  {'name': '홍길동', 'age': 30, 'address': '서울'}

In [90]:
def func7(a, b, *c, d='기본값', **e) :
    print('순서인수 a : ', a)
    print('순서인수 b : ', b)
    print('튜플인수 c : ', c)
    print('키워드인수(기본값을 갖는 인수, 호출 시 매개변수명 반드시 명시) d : ', d)
    print('딕셔너리인수 e : ', e)

In [91]:
func7(10, 20, 1, 2, 3, d = '딴거', fontsize=12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출 시 매개변수명 반드시 명시) d :  딴거
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

In [92]:
func7(10, 20, 1, 2, 3,'딴거', fontsize=12, fontfamily='consola')

순서인수 a :  10
순서인수 b :  20
튜플인수 c :  (1, 2, 3, '딴거')
키워드인수(기본값을 갖는 인수, 호출 시 매개변수명 반드시 명시) d :  기본값
딕셔너리인수 e :  {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 인수의 언패킹(unpacking)
### 튜플인수 언패킹
- 언패킹 : 함수 호출 시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의 시 매개변수 앞에 * 붙임(튜플매개변수)

In [99]:
def add(*args) :
    print(args)
    tot = 0
    for num in args :
        tot += num
    return tot

In [101]:
add(1, 2, 3, 4)

(1, 2, 3, 4)

10

In [102]:
numbers = (1, 2, 3, 4)
add(*numbers) #언패킹

(1, 2, 3, 4)

10

In [103]:
numbers = [1, 2, 3, 4]
add(*numbers) #언패킹

(1, 2, 3, 4)

10

### 딕셔너리인수 언패킹
- 딕셔너리 언패킹 : 함수 호출 시 매개변수 앞에 ** 붙임
- 딕셔너리 패킹 : 함수 정의 시 매개변수 앞에 ** 붙임

In [110]:
def func5(**data) :
    print(type(data))
    for key, item, in data.items() :
        print(f'{key}:{item}')

In [111]:
func5(name='홍길동', age = 30, address = '신림')

<class 'dict'>
name:홍길동
age:30
address:신림

In [112]:
customInfo = {'name' : '홍길동', 'age' : 30, 'address' : '서울시 강남구', 'score' : 900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:30
address:서울시 강남구
score:900

# 4절. 람다식
- return 한줄짜리 짧은 익명함수
## 4.1 람다식 연습

In [113]:
def add(a, b) :
    return a + b
add(3, 4)

7

In [114]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [115]:
type(add), type(add2)

(function, function)

In [116]:
(lambda a, b : a + b)(3, 4)

7

In [126]:
# ex.1 매개변수로 들어온 값이 짝수인지 홀수인지 return
def ex1(num) :
#     if num%2:
#         result = '홀수'
#     else :
#         result = '짝수'
    return '홀수' if num%2 else '짝수'
ex1 = lambda num : '홀수' if num%2 else '짝수'
ex1(10), ex1(9)

('짝수', '홀수')

In [136]:
# ex.2 두 매개변수의 차를 return
ex2 = lambda num1, num2 : num1-num2 if num1 > num2 else num2 - num1
ex2(-8, 9)

17

In [131]:
# ex.3 매개변수로 잔액을 받아 양수면 잔액을, 음수면 'negative'를 return
ex3 = lambda money : money if money>=0 else 'negative'
ex3(90000)

90000

In [137]:
# ex.4 점수를 입력받아 80점 이상은 A그룹, 60점 이상은 B그룹, 60점 미만은 재시험, 그 외는 유요하지 않음 return
# def ex4() :
#     score = int(input('점수를 입력하세요 : '))
#     if 80<=score<=100 :
#         return 'A'
#     elif 60<score<80 :
#         return 'B'
#     elif 0<=score<60 :
#         return '재시험'
#     else :
#         return '유효하지 않음'
ex4 = lambda score : "A" if 80 <= score <= 100 else \
                    "B팀" if 60 <= score < 80 else \
                    "재시험" if 0 <= score < 60 else \
                    "유효하지 않음"
ex4(120), ex4(90), ex4(70), ex4(50)

('유효하지 않음', 'A', 'B팀', '재시험')

In [142]:
# ex.5 safe_index를 람다식으로
# def safe_index(lst, data) :
#     if data in lst :
#         return lst.index(data)
#     else :
#         return -1
safe_index = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
safe_index(tup, 4), safe_index(tup, 2)

(-1, 2)

## 4.2 함수의 매개변수에 람다식 이용
def func(fun, data) :
    명령어
### (1) map

In [10]:
def map_template(func,  L=[]) :
    '''
    L의 모든 요소를 func()함수를 적용시켜 return
    '''
    result = []
    for l in L :
        result.append(func(l))
    return result
#     return [func(l) for l in L]

In [12]:
# 리스트 데이터를 가공 방법 1. map_template
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
map_template(lambda x : x*2, list_data)
# def x_2(x) :
#     return x*2
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
# 리스트 데이터를 가공 방법 3. map() : python 내장함수
list(map(lambda x : x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [31]:
for item in map(lambda x : x*2, list_data) :
    print(item, end=' ')

2 4 6 8 10 12 14 16 18 20

In [23]:
'''
예제 1. [5000, 800, 1000, 6000]로 바꾸시오
'''
prices = ['5,000', '800', '1000', '6,000']

In [24]:
def func(x) :
    return int(x.replace(',',''))
func("5,000"), func("1800")

(5000, 1800)

In [25]:
list(map(lambda x :int(x.replace(',','')),prices))

[5000, 800, 1000, 6000]

In [48]:
'''
예제 2. member1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},
                    {'name' : '신길동', 'birth' : '1998-12-31'}]를
        member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},
                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]로 바꿈
'''
member1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},
            {'name' : '신길동', 'birth' : '1998-12-31'}]
member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},
                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]

In [28]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_date(date) :
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year':int(split_data[0]),
           'month':int(split_data[1]),
            'day':int(split_data[2])
           }

In [30]:
split_date('2000-01-01')

{'year': 2000, 'month': 1, 'day': 1}

In [35]:
def member_func(member) : # {'name' : '홍길동', 'birth' : '2000-01-01'}
    "{'name' : '신길동', 'year':1998, 'month':12, 'day':31} 식으로 return"
    return {
            'name':member.get('name'),
            'year':int(member['birth'].split('-')[0]),
            'month':int(member['birth'].split('-')[1]),
            'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [37]:
list(map(lambda member : {
                        'name':member.get('name'),
                        'year':int(member['birth'].split('-')[0]),
                        'month':int(member['birth'].split('-')[1]),
                        'day':int(member['birth'].split('-')[2]),
                         },
       member1 )
    )
member2

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [ ]:
'''
예제3. member2를 member1로 바꿈
'''

In [42]:
#{'year:2000, 'month':1, 'day':1} => "2000-01-01"를 return하는 함수
def join_date(data) :
        print([data.get('year'), data.get('month'), data.get('day')])
        year = str(data.get('year'))
        month = data.get('month')
        if month < 10 :
            month = '0'+str(month)
        else :
            month = str(month)
        
        day = data.get('day')
        if day < 10 :
            day = '0'+str(day)
        else :
            day = str(day)
        
        return '-'.join([year, month, day])

In [ ]:
def join_date(data) :
    print("{}-{:02}-{:02}".format(data.get('year'),
                                  data.get('month'),
                                  data.get('day')))

In [ ]:
def join_date(data) :
    print("{year}-{month:02}-{day:02}".format(
                                  year = data.get('year'),
                                  month = data.get('month'),
                                  day = data.get('day')))

In [44]:
def join_date(data) :
    return "{year}-{month:02}-{day:02}".format(**data)

In [43]:
join_date({'year':2000, 'month':1, 'day':1})

[2000, 1, 1]

'2000-01-01'

In [49]:
# {'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}(member12를
# {'name' : '홍길동', 'birth' : '2000-01-01'}(member1)으로 가공
list(map(lambda member : {
                            'name' : member.get('name'),
                            'birth' : "{year}-{month:02}-{day:02}".format(**member)
                          },
         member2
        )
    )

[{'name': '홍길동', 'birth': '2000-01-01'},
 {'name': '신길동', 'birth': '1998-12-31'}]

### (2) filter
- map처리 : [1, 2, 3, 4, 5] => [2, 4, 6, 8, 10] (벡터의 모든 데이터를 가공)
- filter : [1, 2, 3, 4, 5] => [2, 4] (원하는 정보를 추출)
* cf. 리스트 컴프리헨션

In [50]:
# [1, 2, 3, 4, 5] => 
def filter_template(func, L=[]) :
    result = []
    for l in L :
        if func(l) :
            result.append(l)
    return result

In [51]:
def  evenChk(value) :
    return value%2==0
evenChk(10), evenChk(-9)

(True, False)

In [52]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0, list_data)

[2, 4]

In [53]:
list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [54]:
[data for data in list_data if data%2==0]

[2, 4]

### (3) sort

In [56]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [58]:
# 무조건 0번째 item 기준으로 정렬
pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [60]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [61]:
# 무조건 0번 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True : 내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9], [1, 100]]

In [65]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1, 2, 3])

6

In [64]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9], [10, 1]]

In [77]:
students = [
    {'name':'홍길동', 'score':90},
    {'name':'김길동', 'score':50},
    {'name':'윤길동', 'score':99},
    {'score':100}
]

In [79]:
# 이름순으로 정렬(ㄱㄴㄷ순)
students.sort(key = lambda item : item.get('name', '힣'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [82]:
# score순으로 정렬(내림차순정렬 : reverse=True)
students.sort(key = lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [83]:
# 책제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 정렬
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]

In [113]:
# 제목순 정렬(ㄱㄴㄷ순)
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [114]:
# 저자순 정렬(ㄱㄴㄷ순)
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [115]:
# 가격순
# '14,000' => 14000 / "2000" => 2000 / 800 => 800 / '-' => 0
def parse_int(price) :
#     print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit() :
        return int(price.replace(',',''))
    elif isinstance(price, int) :
        return price
    else :
        return 0

In [116]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int("-")

(8000, 8000, 800, 0)

In [117]:
# {'no':6, 'title':'가격이없음', 'writer':'김길동'}
# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}
# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900}
def parse_int(book) :
    if isinstance(book.get('price'), str) and \
                 book.get('price').replace(',','').isdigit() :
        return int(book.get('price').replace(',',''))
    elif isinstance(book.get('price'), int) :
        return book.get('price')
    else :
        return 0
parse_int(books[0]), parse_int(books[3]), parse_int(books[2]), parse_int(books[5]),

(0, 900, 14220, 0)

In [118]:
# books =[
#     {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
#     {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
#     {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
#     {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
#     {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
#     {'no':6, 'title':'가격이없음', 'writer':'김길동'},
# ]
copy_books = books.copy()

In [119]:
copy_books.sort(key = lambda book :
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0                          
                )

In [122]:
(lambda book :
               int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0)(books[0])

0

## 4.3 return문에 람다식 이용

In [123]:
# 함수를 return
def make_box(shape) : # shape : [l] -> len가 l인 list를 생성하는 함수 return,
#                                 [r, c] -> r행 c열인 list를 생성하는 함수 return,
#                                 [d, r, c] -> d면 r행 c열 3차원 list를 생성하는 함수 return
    def box(init_value) :
        if len(shape)==1 :
            return [init_value]*shape[0]
        elif len(shape)==2 :
            return [ [init_value]*shape[1] ] * shape[0]
    return box

In [126]:
def make_box(shape) :
    if len(shape)==1 :
        return lambda init_value : [init_value]*shape[0]
    elif len(shape)==2 :
        return lambda init_value : [ [init_value]*shape[1] ] * shape[0]

In [124]:
line_func = make_box([2, 3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수명, 함수명, 클래스명)로 사용하는 것을 피함

In [127]:
globals() # 전역변수 리스트

{'__name__': '__main__',
 '__doc__': "\n예제 2. member1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n                    {'name' : '신길동', 'birth' : '1998-12-31'}]를\n        member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},\n                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]로 바꿈\n",
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "def map_template(func,  L=[1, 2, 3]) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    [2,4,6]\n    '''\n#     result = []\n#     for l in L :\n#         result.append(func(l))\n#         return result\n    return [func(l) for l in L]",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x) :\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func,  L=[1, 2, 3]) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n        return result\n#     return [func(l) for l in L]",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x) :\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func,  L=[1, 2, 3]) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n        return result\n#     return [func(l) for l in L]",
  "def map_template(func,  L=[]) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n        return result\n#     return [func(l) for l in L]",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x) :\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func,  L=[]) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n    return result\n#     return [func(l) for l in L]",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\ndef x_2(x) :\n    return x*2\nmap_template(x_2, list_data)',
  "def map_template(func,  L=[]) :\n    '''\n    L의 모든 요소를 func()함수를 적용시켜 return\n    '''\n    result = []\n    for l in L :\n        result.append(func(l))\n    return result\n#     return [func(l) for l in L]",
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\nmap_template(lambda x x*2, list_data)\n# def x_2(x) :\n#     return x*2\n# map_template(x_2, list_data)',
  'list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]\nmap_template(lambda x : x*2, list_data)\n# def x_2(x) :\n#     return x*2\n# map_template(x_2, list_data)',
  '# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션\n[l*2 for l in list_data]',
  '# 리스트 데이터를 가공 방법 3. map() : python 내장함수\nlist(for item in map(lambda x : x*2, list_data))',
  '# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션\n[l*2 for l in list_data]',
  "# 리스트 데이터를 가공 방법 3. map() : python 내장함수\nfor item in map(lambda x : x*2, list_data) :\n    print(item, end=' ')",
  '# 리스트 데이터를 가공 방법 3. map() : python 내장함수\nlist(map(lambda x : x*2, list_data))',
  'def func(x) :\n    return int(x.replace(\',\',\'\'))\nfnunc("5,000", func("1800"))',
  'def func(x) :\n    return int(x.replace(\',\',\'\'))\nfunc("5,000", func("1800"))',
  'def func(x) :\n    return int(x.replace(\',\',\'\'))\nfunc("5,000"), func("1800")',
  "list(map(lambda x :int(x.replace(',','')),pricces))",
  "list(map(lambda x :int(x.replace(',','')),prices))",
  "'''\n예제 1. [5000, 800, 1000, 6000]로 바꾸시오\n'''\nprices = ['5,000', '800', '1000', '6,000']",
  'def func(x) :\n    return int(x.replace(\',\',\'\'))\nfunc("5,000"), func("1800")',
  "list(map(lambda x :int(x.replace(',','')),prices))",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_date(date) :\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year':int(split_data[0]),\n           'month':int(split_data[1]).\n            'day' :int(split_data[2])\n           }",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_date(date) :\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year':int(split_data[0]),\n           'month':int(split_data[1]).\n            'day':int(split_data[2])\n           }",
  "# '2000-01-01' => {'year':1998, 'month':12, 'day':31}\ndef split_date(date) :\n    split_data = date.split('-')\n#     print(split_data[0], split_data[1], split_data[2])\n    return {'year':int(split_data[0]),\n           'month':int(split_data[1]),\n            'day':int(split_data[2])\n           }",
  "split_date('2000-01-01')",
  "split_date('2000-01-01')",
  "for item in map(lambda x : x*2, list_data) :\n    print(item, end=' ')",
  '\'\'\'\n예제3. member2를 member1로 바꿈\n\'\'\'\ndef member_func(member) : # {\'name\' : \'홍길동\', \'birth\' : \'2000-01-01\'}\n    "{\'name\' : \'신길동\', \'year\':1998, \'month\':12, \'day\':31} 식으로 return"\n    return {\n            \'name\':member.get(\'name\'),\n            \'year\':int(member[\'birth\'].split(\'-\')[0]),\n            \'month\':int(member[\'birth\'].split(\'-\')[1]),\n            \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\n    ',
  '\'\'\'\n예제3. member2를 member1로 바꿈\n\'\'\'\ndef member_func(member) : # {\'name\' : \'홍길동\', \'birth\' : \'2000-01-01\'}\n    "{\'name\' : \'신길동\', \'year\':1998, \'month\':12, \'day\':31} 식으로 return"\n    return {\n            \'name\':member.get(\'name\'),\n            \'year\':int(member[\'birth\'].split(\'-\')[0]),\n            \'month\':int(member[\'birth\'].split(\'-\')[1]),\n            \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "'''\n예제 2. member1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n                    {'name' : '신길동', 'birth' : '1998-12-31'}]를\n        member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},\n                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]로 바꿈\n'''\nmember1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n            {'name' : '신길동', 'birth' : '1998-12-31'}]",
  '\'\'\'\n예제3. member2를 member1로 바꿈\n\'\'\'\ndef member_func(member) : # {\'name\' : \'홍길동\', \'birth\' : \'2000-01-01\'}\n    "{\'name\' : \'신길동\', \'year\':1998, \'month\':12, \'day\':31} 식으로 return"\n    return {\n            \'name\':member.get(\'name\'),\n            \'year\':int(member[\'birth\'].split(\'-\')[0]),\n            \'month\':int(member[\'birth\'].split(\'-\')[1]),\n            \'day\':int(member[\'birth\'].split(\'-\')[2]),\n    }\nmember_func(member1[0])',
  "list(map(lambda member : {\n                        'name':member.get('name'),\n                        'year':int(member['birth'].split('-')[0]),\n                        'month':int(member['birth'].split('-')[1]),\n                        'day':int(member['birth'].split('-')[2]),\n                         },\n        )\n    )",
  "list(map(lambda member : {\n                        'name':member.get('name'),\n                        'year':int(member['birth'].split('-')[0]),\n                        'month':int(member['birth'].split('-')[1]),\n                        'day':int(member['birth'].split('-')[2]),\n                         },\n       member1 )\n    )",
  '#{\'year:2000, \'month\':1, \'day\':1} => "2000-01-01"를 return하는 함수\ndef join_date(data) :\n    print(data)',
  "join_date({'year':2000, 'month':1, 'day':1})",
  '#{\'year:2000, \'month\':1, \'day\':1} => "2000-01-01"를 return하는 함수\ndef join_date(data) :\n        print([data.get(\'year\'), data.get(\'month\'), data.get(\'day\')])\n        return \'-\'.join([data.get(\'year\'), data.get(\'month\'), data.get(\'day\')])',
  "join_date({'year':2000, 'month':1, 'day':1})",
  '#{\'year:2000, \'month\':1, \'day\':1} => "2000-01-01"를 return하는 함수\ndef join_date(data) :\n        print([data.get(\'year\'), data.get(\'month\'), data.get(\'day\')])\n        year = str(data.get(\'year\'))\n        month = data.get(\'month\')\n        if month < 10 :\n            month = \'0\'+str(month)\n        else :\n            month = str(month)\n        \n        day = data.get(\'day\')\n        if day < 10 :\n           day = \'0\'+str(day)\n        else :\n            day = str(day)\n        \n        return \'-\'.join([year, month, day])',
  "join_date({'year':2000, 'month':1, 'day':1})",
  'def join_date(data) :\n    return "{year}-{month:02}-{day:02}".format(**data)',
  '# {\'name\': \'홍길동\', \'year\': 2000, \'month\': 1, \'day\': 1}(member12를\n# {\'name\' : \'홍길동\', \'birth\' : \'2000-01-01\'}(member1)으로 가공\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                          },\n         member2\n        )\n    )',
  '# {\'name\': \'홍길동\', \'year\': 2000, \'month\': 1, \'day\': 1}(member12를\n# {\'name\' : \'홍길동\', \'birth\' : \'2000-01-01\'}(member1)으로 가공\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                          },\n         member2\n        )\n    )',
  "'''\n예제 2. member1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n                    {'name' : '신길동', 'birth' : '1998-12-31'}]를\n        member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},\n                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]로 바꿈\n'''\nmember1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n            {'name' : '신길동', 'birth' : '1998-12-31'}]\n member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},\n                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]",
  "'''\n예제 2. member1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n                    {'name' : '신길동', 'birth' : '1998-12-31'}]를\n        member2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},\n                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]로 바꿈\n'''\nmember1 = [{'name' : '홍길동', 'birth' : '2000-01-01'},\n            {'name' : '신길동', 'birth' : '1998-12-31'}]\nmember2 = [{'name' : '홍길동', 'year':2000, 'month':1, 'day':1},\n                    {'name' : '신길동', 'year':1998, 'month':12, 'day':31}]",
  '# {\'name\': \'홍길동\', \'year\': 2000, \'month\': 1, \'day\': 1}(member12를\n# {\'name\' : \'홍길동\', \'birth\' : \'2000-01-01\'}(member1)으로 가공\nlist(map(lambda member : {\n                            \'name\' : member.get(\'name\'),\n                            \'birth\' : "{year}-{month:02}-{day:02}".format(**member)\n                          },\n         member2\n        )\n    )',
  '# [1, 2, 3, 4, 5] => \ndef filter_template(func, L=[]) :\n    result = []\n    for l in L :\n        if func(l) :\n            result.append(l)\n    return result',
  'def  evenChk(value) :\n    return value%2==0\nevenChk(10), evenChk(-9)',
  'list_data = [1, 2, 3, 4, 5]\nfilter_template(lambda value : value%2==0, list_data)',
  'list(filter(lambda value : value%2==0, list_data))',
  '[data for data in list_data if data%2==0]',
  'p = [9, 2, 7]\np.sort()\np',
  'p = [9, 2, 7]\np.sort(reverse=True)\np',
  'number2d = [[9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(reverse=True)\nnumber2d',
  "pairs = [(2, 'two'), (1, 'one'), (4, 'four'), (3, 'three')]\npairs.sort()\npairs",
  '# 1번째 item 기준으로 정렬(abc순)\npairs,sort(key=lambda pair : pair[1])\npairs',
  '# 1번째 item 기준으로 정렬(abc순)\npairs.sort(key=lambda pair : pair[1])\npairs',
  '# 무조건 0번 item기준으로 정렬\nnumber2d = [[9, 9, 9, 9, 9],\n            [1, 100],\n            [10, 1]]\nnumber2d.sort(reverse=True) # 기본(reverse=False): 오름차순정렬 / reverse=True : 내림차순정렬\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item))\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item), reverse=True)\nnumber2d',
  '# 합이 큰 순으로 정렬\nnumber2d.sort(key = lambda item : sum(item), reverse=True)\nnumber2d',
  '# 리스트를 매개변수로 받아 합을 return\n(lambda item : sum(item))([1, 2, 3])',
  "students = [\n    {'name':'홍길동', 'kor':90},\n    {'name':'김길동', 'kor':50},\n    {'name':'윤길동', 'kor':99},\n]",
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort()\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(**student)\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(**students)\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(*students)\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(**students)\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nlist_stu = students.sort(**students)\nstudents',
  '# 이름순으로 정렬(ㄱㄴㄷ순)\nlist_stu = students.sort(*students)\nstudents',
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n]",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key = lambda item : item.get('name'))\nstudents",
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n     'score':100\n]",
  "students = [\n    {'name':'홍길동', 'score':90},\n    {'name':'김길동', 'score':50},\n    {'name':'윤길동', 'score':99},\n    {'score':100}\n]",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key = lambda item : item.get('name'))\nstudents",
  "# 이름순으로 정렬(ㄱㄴㄷ순)\nstudents.sort(key = lambda item : item.get('name', '힣'))\nstudents",
  "# score순으로 정렬(내림차순정렬)\nstudents.sort(key = lambda item : item.get('score', 0))\nstudents",
  "# score순으로 정렬(내림차순정렬)\nstudents.sort(key = lambda item : item.get('score', 0), reverse=True)\nstudents",
  "# score순으로 정렬(내림차순정렬 : reverse=True)\nstudents.sort(key = lambda item : item.get('score', 0), reverse=True)\nstudents",
  "# 책제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
  "# 제목순 정렬(ㄱㄴㄷ순)\nbooks.sort(key = lambda book : book.get('title'))\nbooks",
  "# 저자순 정렬(ㄱㄴㄷ순)\nbooks.sort(key = lambda book : book.get('writer'))\nbooks",
  "# 가격순\nbooks.sort(key = lambda book : book.get('price'))\nbooks",
  "# 가격순\nbooks.sort(key = lambda book : book.get('price', 0))\nbooks",
  "# 가격순\n# '14,000' => 14000 / 800 => 800 / '-' => 0\ndef parse_int(price) :\n    print(type(price))",
  'parse_int(800)',
  'parse_int("800")',
  "# 가격순\n# '14,000' => 14000 / 800 => 800 / '-' => 0\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, int) :\n        return price",
  'parse_int(800)',
  'parse_int("800")',
  '# 가격순\n# \'14,000\' => 14000 / "2000" => 2000 / 800 => 800 / \'-\' => 0\ndef parse_int(price) :\n#     print(type(price))\n    if price.replace(\',\',\'\').isdigit() :\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int) :\n        return price',
  'parse_int("8,000")',
  'parse_int(8000)',
  '# 가격순\n# \'14,000\' => 14000 / "2000" => 2000 / 800 => 800 / \'-\' => 0\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit() :\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int) :\n        return price',
  '# 가격순\n# \'14,000\' => 14000 / "2000" => 2000 / 800 => 800 / \'-\' => 0\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit() :\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int) :\n        return price',
  'parse_int(8000)',
  'parse_int("8,000")',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int("-")',
  '# 가격순\n# \'14,000\' => 14000 / "2000" => 2000 / 800 => 800 / \'-\' => 0\ndef parse_int(price) :\n#     print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit() :\n        return int(price.replace(\',\',\'\'))\n    elif isinstance(price, int) :\n        return price\n    else :\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int("-")',
  "# {'no':6, 'title':'가격이없음', 'writer':'김길동'}\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900}\ndef parse_int(book) :\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit() :\n        return int(book.get('price').replace(',',''))\n    elif isinstance(book.get('price'), int) :\n        return book.get('price')\n    else :\n        return 0\nparse_int(books[0]), parse_int(books[3]), parse_int(books[2]), parse_int(books[5]),",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy()\ncopy_books.sort(key = lambda book :\n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(isinstance(book.get('price'), int) else \\\n                0,\n                                                \n                )",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy()\ncopy_books.sort(key = lambda book :\n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(isinstance(book.get('price'), int) else \\\n                0\n                                                \n                )",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy()",
  "copy_books.sort(key = lambda book :\n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(isinstance(book.get('price'), int) else \\\n                0                          \n                )",
  "copy_books.sort(key = lambda book :\n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                          \n                )",
  "(lambda book :\n               int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0)(books[0])",

In [130]:
all([True, True, True, False]) # 전부 True 인지 여부 반환

False

In [133]:
round(3.5) # 반올림

4

In [137]:
import numpy as np #numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.5), np.floor(3.2) # 반올림, 올림, 내림 (실수 반환)

(4.0, 4.0, 3.0)

### 실습형 연습문제

In [140]:
# 1.함수의인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
def get_max_min(data_list):
    return max(data_list), min(data_list)
get_max_min= lambda data_list : (max(data_list), min(data_list))
get_max_min([1, 2, 3, 4, 5, 6,])

(6, 1)

In [150]:
# 2.체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다.
# 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘
# 마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
# getBMI(kg, m):
# BMI지수 = 체중(kg) / 신장(m)의 제곱
# BMI<18.5 : 마른체형
# 18.5<=BMI<25 : 표준
# 25<=BMI<30 : 비만
# BMI >=30 : 고도비만
kg = float(input('체중을 입력하세요. : '))
m = float(input('신장을 입력하세요.(cm기준) : '))/100
bmi = kg/(m**2)
def getBMI(kg, m) :
    if bmi < 18.5 :
        return '마른체형'
    elif 18.5 <= bmi < 25 :
        return '표준'
    elif 25<= bmi < 30 :
        return '비만'
    else :
        return '고도비만'
print("당신의 BMI는 {}이고, 당신은 {}입니다.".format(bmi,getBMI(kg,m)))

체중을 입력하세요. : 74
신장을 입력하세요.(cm기준) : 177
당신의 BMI는 23.620287912158062이고, 당신은 표준입니다.

In [158]:
#  3.직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
#  리턴값은 면적과 둘레를 return하도록 구현하세요
# math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
import math
width = float(input('밑변의 길이를 입력하세요. :'))
height = float(input('높이의 길이를 입력하세요. :'))
def get_triangle(width, height):
    area = (width * height)/2 # 면적 
    hypotenuse = math.sqrt((width**2) + (height**2)) # 빗변의 길이
    circum = hypotenuse + width + height
    return area, circum
print('직각삼각형의 면적은 {:.2f}이고, 둘레는 {:.2f}입니다.'.format(*get_triangle(width, height)))

밑변의 길이를 입력하세요. :6
높이의 길이를 입력하세요. :7
직각삼각형의 면적은 21.00이고, 둘레는 22.22입니다.

In [160]:
# 4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함)
def mysum(fRom, end):
    total = 0
    for i in range(fRom, end+1) :
        total += i
    return total
mysum(7, 20)

189

In [161]:
# 5.함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 
# 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
cities = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def get_abbrs(lst):
    return [word[:3] for word in lst]
print(get_abbrs(cities))         # 출력: ['Seo', 'Dae', 'Kwa', 'Jej']
get_abbrs_lambda = lambda lst: [word[:3] for word in lst]
print(get_abbrs(cities))

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [162]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
f = lambda x, y : x**y
f(7, 2)

49

In [170]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 
#         구현과 리스트 컴프리헨션으로 구현하시오
ex = [1, 2, 3, 4, 5]
def square(ex_list):
    return list(map(lambda x: x ** 2, ex_list))
print("map/lambda 결과:", square(ex))

def square(ex_list):
    return [x ** 2 for x in ex_list]
print("리스트 컴프리헨션 결과:", square(ex))
# 4월 17일 - 여기까지

map/lambda 결과: [1, 4, 9, 16, 25]
리스트 컴프리헨션 결과: [1, 4, 9, 16, 25]

In [ ]:
# 8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
>>> a = [1, 2, 3]
>>> print(*a)
1 2 3
>>> print(a)
[1, 2, 3]
# 첫번째의 경우 언패킹을 진행하여 각 요소를 출력하기때문에 print(1, 2, 3)과 같고, 두번째는 a라는 리스트를 출력하기 떄문에
# [1, 2, 3]이 출력된다

In [171]:
# 9. 다음 코드의 실행 결과는?
date_info = {'year': 2024, 'month': 9, 'day': 6}
result = '{year}-{month}-{day}'.format(**date_info)
result

'2024-9-6'

In [173]:
# 10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.
vector_size_check = lambda *vector_var: all(len(v) == len(vector_var[0]) for v in vector_var)
vector_size_check([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2})

True

In [174]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 
# 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
# >>> scalar_vector_product(5, [1, 2, 3, 4])
# [5, 10, 15, 20]
def scalar_vector_product(scalar, vector):
    return [scalar * x for x in vector]
scalar_vector_product(5, [1, 2, 3, 4])

[5, 10, 15, 20]

### 서술형 연습문제

In [175]:
# 1. 다음코드의 실행 결과는?
pairs = [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
pairs.sort(key=lambda pair: pair[1])
pairs
# ① [(1, 'd'), (2, 'c'), (3, 'b'), (4, 'a')]
# ② [(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]
# ③ [(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]
# ④ 프로그램 오류
# 정답 2

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [180]:
# 2.함수 영역과 변수들의 참조 영역에 따른 동작을 보여주기 위한 문제입니다.
# 오류가 발생하는 라인을 찾고 문제를 해결하기 위한 코드를 작성하며, 실행 결과를 쓰시오.
# a = 10
# def sub():
#     a += 1
#     print(a, end='')

# def func():
#     for i in range(2):
#         a = 5
#         a += 1
#         print(a, end='')
#         sub()

# a += 1
# func()
# 처음 a는 전역변수로 선언했으나 sub()내에서는 a가 없기 떄문에 오류 발생
# 수정
a = 10
def sub():
    global a
    a += 1
    print(a, end='')

def func():
    for i in range(2):
        a = 5
        a += 1
        print(a, end='')
        sub()

a += 1
func()

612613

In [182]:
# 3.다음구문을 실행한 결과는
var = 100
def func(var):
    var = 200
func(var)
print(var)

100

In [185]:
# 4.다음구문의실행 결과는?
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [186]:
# 5.다음구문의 실행결과는?
def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2)

9

In [ ]:
6.파이썬 함수에 대한 설명 중 잘못된 것은?
①파이썬의 함수는 중복 정의해 사용할 수 있다.
②파이썬의 함수 매개변수는 기본값을 가질 수 있다.
③**args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
④함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수

1번. 오버로딩 허용되지 않음

In [188]:
# 7.다음과 같은 구문이 있을 경우 오류가 발생하는 함수 호출은?
list_ = []

def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
# ① func(10, list_)
# ② func(20, L=list_)
# ③ func(a=30)
# ④ func([], a=40)
# 정답 4, a에 대해 []와 40이 두번 값을 전달하게 되는 호출
func(10, list_), func(20, L=list_), func(a=30), func([], a=40)

TypeError: func() got multiple values for argument 'a'

In [ ]:
8. 다음 보기가 설명하는 것을 작성하기 위한 키워드를 쓰세요 (영문 소문자로 쓰세요)

작은 익명 함수를 의미합니다.
함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다.
다른 함수의 인수 또는 리턴값에 사용할 수 있습니다.

정답 : lambda