In [2]:
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:12pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:12pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red"> ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬은 변수 선언 과정 필요 없음. 할당과 동시에 타입 지정 및 값 할당

## 1.1 변수 할당
- 할당연산자(=)를 이용해 값을 할당하면 타입이 세팅
- 파이썬에서의 모든 변수는 객체로 저장(값 + @(함수 등)을 특정 메모리에 저장, 변수에는 그 메모리의 주소 저장 -> 값 저장된 메모리 주소 참조)

In [7]:
r = 5
area = 3.14 * r * r
print("계산된 넓이는", area)

계산된 넓이는 78.5

In [9]:
import numpy as np
area = np.pi * r * r
print("area = ", area)

area =  78.53981633974483

In [11]:
area.is_integer() # area가 integer인지 여부를 반환

False

In [12]:
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524517523056
area의 타입: <class 'float'>

In [13]:
area = 5.5
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524559005232
area의 타입: <class 'float'>

In [14]:
area = 10
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524431319568
area의 타입: <class 'int'>

In [15]:
area.is_integer()

AttributeError: 'int' object has no attribute 'is_integer'

In [17]:
area = "파이썬"
print('area의 주소 : ', id(area)) # id(변수) : 변수의 주소값
print('area의 타입:', type(area)) # type(변수) : 변수의 타입

area의 주소 :  2524558047536
area의 타입: <class 'str'>

## 1.2 변수 이름 규칙
- 문자로 시작(숫자 시작 불가)
- 문자, 숫자, _로만 변수명 작성 가능(특수문자 불가)
- 함수명은 변수 이름으로 가능은 하나 지양해야 함. 써야 한다면 '함수명_' 식으로 _ 이용
- 파이썬 예약어(for 등)은 변수명 사용 불가
- 한글 변수는 꼭 필요시에만 사용

In [21]:
이름 = "홍길동"
print(이름)

홍길동

In [22]:
이름

'홍길동'

In [23]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [24]:
member.name = "홍길동"

NameError: name 'member' is not defined

In [25]:
member_name = "홍길동" # python에서 주로 이용
memberName = "홍길동" # Java, C++에서 주로 이용

In [26]:
Print = 10 # 대문자로 시작한 변수, 함수명의 변수는 가능은 하나 절대 금할 것
print(Print)

10

In [27]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수(complex)
i = 3 + 3j # j : 파이썬에서 복소수 표현
type(i)

complex

In [28]:
isinstance(i, complex) # 변수(객체)가 complex인지 여부 반환

True

## 1.3 도움말

In [29]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [31]:
help() #help를 빠져 나오려면 q 입력 / Esc + o : 결과 접기/펴기(토글)

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> ㅂ
No Python documentation found for 'ㅂ'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [32]:
# 도움말 기능 : Shift + Tab 키 두번 (tab tab) - 주로 이용
print()

In [40]:
def add(x, y=0) : 
    '''
    매개변수 2개를 받아 두 자리 숫자로 만드는 함수
    x는 10의 자리수가 됨
    y는 1의 자리수가 됨
    사용법 : add(2,3) => 23
    '''
    return x*10 + y
# ''''''(홑,쌍 상관없이 따옴표 3개 입력 후 그 안에 설명 작성 시 도움말 작성됨)
# 위처럼 함수 선언 시 매개변수에 기본값을 입력할 경우 매개변수가 없으면 기본값, 매개변수가 있으면 입력된 매개변수값을 이용해 처리

In [39]:
add(2, 2)

22

In [41]:
a = add
a(2,3)

23

## 1.4 다중 변수 할당

In [42]:
a = 10
b = 20

In [44]:
a, b = 10, 20
print(a, b)

10 20

In [45]:
# 다중 변수 선언의 경우 순차적으로 들어가지 않고 동시에 진행
# 가독성이 좋지 않아 자주 쓰이진 않음
a, b = b, a+b 
print(a, b)

20 30

# 2절. 화면 입출력(I/O)

In [53]:
# input() : 사용자로부터 값을 입력받기 위한 함수, 반드시 문자열로 입력받음(3 -> "3")
first = input("첫 번째 숫자는?")
first

첫 번째 숫자는?8

'8'

In [54]:
second = input('두 번째 숫자는?')

두 번째 숫자는?2

In [55]:
sum = int(first) + int(second)
print('합:', sum)

합: 10

In [57]:
first = int(input('첫 번째 수는?'))
second = int(input('두 번째 수는?'))
sum = first + second
print('합', sum)

첫 번째 수는?10
두 번째 수는?20
합 30

In [64]:
print('합', sum, sep = '=', end=' / ')
print('합', sum, sep = ' ~ ', end=' / ')
print('합', sum, sep = '은 ')

합=30 / 합 ~ 30 / 합은 30

In [65]:
import sys
print('hello', 'world', sep=', ', file=sys.stdout) # stdout : standard out의 약자, 모니터로 출력

hello, world

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장 방식이 달라짐
    - 숫자 : int, float(실수), complex(복소수)
    - 문자 : str
    - 논리 : bool(True/False)
    
## 3.1 숫자형

In [68]:
import sys
sys.maxsize # 정수의 최대값 2**63 -1(2의 63승 -1)

9223372036854775807

In [71]:
i = sys.maxsize + 100000000000000000
print(i)
print(type(i))

9323372036854775807
<class 'int'>

In [74]:
f = 4/2 # 정수/정수는 무조건 실수
f

2.0

In [76]:
# Java처럼 정수/정수의 결과를 정수로 나오게 하려면
f = 4//2 # // : 몫연산자 (결과의 몫만 가져옴)
print(f)
f = int(4/2)
print(f)

2
2

In [77]:
c = 1j # 수학에서의 0 + 1i
print(c**2) # ** 승연산자(제곱)

(-1+0j)

In [81]:
f = 1.12e12 # 1.12의 10의 12승 1120000000000
print('지수형 표현할당시 실수형으로 저장 : ', f)
f = 1.12e-12 # 1.12의 10의 -12승 0.000000000000112
print('지수형 표현할당시 실수형으로 저장 : ', f) # 너무 크거나 작은 수는 e 이용 / 강제적으로 실수형으로 나오게 할 수 있음(4장)

지수형 표현할당시 실수형으로 저장 :  1120000000000.0
지수형 표현할당시 실수형으로 저장 :  1.12e-12

## 3.2 문자형
- 쌍따옴표(" ")나 홑따옴표(' ')이용 - 문자열/문자 구분 없음, 일부는 str로 표현

In [85]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \'신림동\'' # 서울시 관악구 '신길동'
address = "서울시 관악구 '신림동'"
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [88]:
# 문자형 변수에 여러줄의 문자열
text = '''여러 줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많다.'''
print(text)

여러 줄 짜리 내용
줄바꿈 문자를 쓰지 않고 따옴표 3개로 처리
이처럼 쓰는 경우가 많다.

### ※ 문자열 연산

In [89]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 아무개
    등 주석을 여러 줄로 달고 싶을 경우 이용
'''
name1 = "홍길동"
name2 = "동에 번쩍 서에 번쩍"
print(name1 + name2)

홍길동동에 번쩍 서에 번쩍

In [90]:
print(name1 * 3) # 문자열 * 정수 : 문자열을 정수 번 만큼 반복

홍길동홍길동홍길동

### ※ raw 데이터
- 용도 : 정규표현식 이용(특수한 패턴의 데이터 - 전화번호, 이메일 등), 디렉토리 경로 표현 시 이용

In [94]:
print('Hello\nWorld')
print(r'Hello\nWorld') # r : raw data 그대로 인지
print('Hello\\nWorld') # \\ : 문자 \

Hello
World
Hello\nWorld
Hello\nWorld

정규 표현식
```(마크업 셀에서 백틱(1옆의 특수문자)은 블록을 만들때 사용)
1. 참조 : 위키백과
2. 간략한 문법
    \d : 숫자와 매치, [0-9]와 동일
    \D : 숫자가 아닌 것
    \w : 영문자 or 숫자, [a-zA-Z0-9] ([] : 괄호 안의 범위 중 하나)
    \W : 영문자 or 숫자가 아닌 문자
    . : 아무 문자 하나
    \. : .(dot) 문자
    \- : - 문자
    {2, 4} : 2~4회 반복 (반드시 앞의 수가 뒤의 수보다 작아야 함)
    {4} : 4회 반복
    {2, } : 2회 이상 반복
    + : 1회 이상 반복
    * : 0회 이상 반복
    ? : 0 or 1회 반복
3. 정규표현식 연습장(https://regexr.com/)
ex. 02-777-7894 / 010-9999-9999
[0-9]{2,3} / \d{2,3}-\d{3,4}-\d{4}
\d{2,3}[\-) ]?\d{3,4}[\- ]?\d{4} : 02-898-7877 , 010-7897-7897 , 02)777-7777 , 01099998888 , 010 9999 1234 가 해당
                                   010#1234#1111 는 미해당
```